[2017-10-20 12:25] ademariag opened #7 "Access global inventory from Jinja"
We already allow for `jsonnet` to access the full inventory (cross target), and we should allow `jinja` templates to access that as well.

This is helpful to create *docs* and *canned scripts* that need to have a global view across all targets.

[2017-10-23 15:36] #7 closed

[2017-12-07 15:48] tiziano88 opened #11 "Improve error messages"
Currently if something is undefined, the error message is an unhelpful Python stack trace with no indication of where the error actually was. Ideally it would be something more human readable.

[2018-02-21 13:55] #11 closed

[2018-02-26 11:03] gburiola opened #25 "Load inventory only once"
Calling reclass and generating the inventory is an expensive process (~2 seconds). We do save the result using the `memoise` decorator, however we still run it once for each thread.

We should load the inventory once before we create multiple threads and pass the result to each thread.

[2018-03-15 09:59] ademaria opened #27 "jinja2 yaml pretty printer filter"
I would like to create a INVENTORY.md to allow for looking at the inventory without running `kapitan inventory`, so that users can understand what values are set to without running kapitan.

The INVENTORY.md doc contains the following
[code]

This would look much better if there was a proper toyaml jinja filter.

[2018-03-15 10:47] gburiola commented on #27
I believe this is a feature for jinja a not so much for kapitan.

jinja only supports `tojson` and it looks a bit better than `pprint` but there isn't a `toyml`

[code]

Otherwise, you can use use jsonnet and kapitan `output_type: yaml`

[code]

[code]

[2018-03-15 10:48] ademaria commented on #27
I want to be able to add text features i.e. code sections and possibly links.

[2018-03-20 17:29] adrianchifor commented on #27
Implemented in #32 . Can be used by doing:
[code]

[2018-03-20 17:29] #27 closed

[2018-03-23 11:40] adrianchifor opened #40 "searchvar only works with leaf variables"
e.g. `kapitan searchvar parameters.mysql.user` works, but `kapitan searchvar parameters.mysql` doesn't return anything.

[2018-03-23 11:52] adrianchifor opened #41 "FR - Allow filtering of variables on kapitan inventory"
e.g. `kapitan inventory -t minikube-es -p parameters.secrets` would only show parameters.secrets variable struct.

[2018-03-23 13:22] ramaro opened #43 "Print target name on compile error"
Most compilation errors don't print the target name, making it harder to debug what the issue is.

[2018-03-23 16:10] #40 closed

[2018-03-23 16:13] #41 closed

[2018-03-27 18:19] adrianchifor opened #47 "Intermittent IO issues with jinja2 templates when using docker image to compile on macOS ([Errno 9] Bad file descriptor)"
Compilation using the docker image on macOS fails randomly when trying to render jinja2 templates.
Kapitan v0.13.0, macOS 10.13.3, Docker version 17.12.0-ce, build c97c6d6.

[code]

[2018-03-30 13:02] arnisoph opened #50 "Search for multiple class & secret paths"
Feature request as discussed in #kapitan.

## Use Case

We have multiple teams (dev/ops/devops) and one infrastructure team. All of them have dedicated/own Git repositories and CI/CD pipelines to rollout applications on Kubernetes with manifests compile by kapitan. To prevent redundant data in classes we (infrastructure team) want to provide a central *CMDB* repository that contains shared (reclas

[2018-03-30 13:49] adrianchifor commented on #50
Thanks for the request. I'll discuss with @ramaro next week and I'll link a PR once we get the ball rolling.

[2018-04-03 14:49] ramaro commented on #47
This problem seems to go away when using the :delegated volume suffix. See https://docs.docker.com/docker-for-mac/osxfs-caching/#tuning-with-consistent-cached-and-delegated-configurations

[2018-04-03 15:04] #47 closed

[2018-04-04 10:33] adrianchifor opened #55 "Secrets write should remove duplicate recipients"

[2018-04-04 12:53] gburiola opened #57 "save version of kapitan used to compile targets"
This is similar to how `terraform` works.

tf saves the version of the terraform binary used to produce the `terraform.tfstate` file and fails to run if you try to use an older version:

[code]

we should have a similar feature on kapitan

[2018-04-05 00:46] ademariag opened #62 "Improve debugging"
When jsonnet fails to compile, the output does not easily allow to understand which target caused the jsonnet to fail.

[code]

One possible solution is to write the target being compiled before attempting the compilation. Output could look like this

[code]

[2018-04-05 09:09] adrianchifor commented on #62
Should we close #43 in favour of this?

[2018-04-05 09:11] ademariag commented on #62
Didn't realize it was there already. It's the same really. Feel free to close this and don't feel constraint by my sample output ;)

[2018-04-05 09:15] adrianchifor commented on #43
Closing this as duplicate #62 has a bit more detail.

[2018-04-05 09:15] #43 closed

[2018-04-05 09:29] gburiola commented on #62
The problem with writing the target before starting the compilation is that the app is multithreaded, so you'll see 4 (default number of threads) in flight compilations

[2018-04-06 10:13] #62 closed

[2018-04-06 22:59] ademariag opened #64 "compiled directory not created for jinja target alone"
Kapitan is failing to create directories for Jinja targets.

[code]
[code]

[2018-04-09 10:10] ramaro commented on #64
I can't reproduce this using the latest release.

[2018-04-10 16:48] #55 closed

[2018-04-11 01:19] ademariag opened #69 "GPG fails to load pinentry [RESOLVED]"
For posterity. Would be good to have a better/more helpful error message and a troubleshooting section.

# Problem [RESOLVED]

I have experienced this on my linux desktop
Basically GPG is unable to call the pinentry-curses (or -tty) to read the password on the command line.

[code]
# The solution is

[code]

# other helpful commands
[code]
# Debug it with
[code]

[2018-04-11 10:00] adrianchifor commented on #69
Good point. Had the same problem on macOS with MacGPG2. If using the UI for password entry, this was solved by adding
[code]
to `~/.gnupg/gpg-agent.conf` and reloading the gpg-agent.

[2018-04-11 12:18] adrianchifor opened #70 "Basic linter functionality"
`kapitan lint` should check for things like:

- Variable definition in target/class but no usage or reference.
- Duplicate variables in the same target.
- Re-definition of the same variable with the same value between targets and classes.

[2018-04-16 16:38] #25 closed

[2018-04-17 09:27] adrianchifor commented on #64
Can't reproduce. I believe this was fixed by #51. Will close for now.

[2018-04-17 09:27] #64 closed

[2018-04-17 14:09] #57 closed

[2018-04-17 14:10] adrianchifor opened #73 "Search for plaintext secrets in inventory"
Maybe check the keys containing
[code]
and check the value entropy.

We should ignore gpg references.

Can be integrated as part of `kapitan lint`

[2018-04-26 10:20] ademariag opened #80 "Create "cleartext" backend for secrets"
Secrets with GPG and especially automatic generation of secrets is very powerful.

However for some low-security setups (i.e. minikube or example folder) a user is required to have configured GPG and have the right key to decrypt secrets.

This forces the user to 2 choices:
1) reveal the secret in plaintext by overriding the target file
2) store a "shared" gpg key in the repository to allow for lo

[2018-04-26 10:48] ramaro opened #81 "Secret is wiped if writing aborted"
When trying to update a secret e.g. `secrets/targets/my-target/secret_sauce`, if a GPGError occurs, the content of `secrets/targets/my-target/secret_sauce` is emptied.

[2018-05-01 08:01] ademariag opened #84 "Create `|rsa` function to automatically generate private keys"
The function should accept parameters like key length

`?{gpg:targets/${target_name}/private_key|rsa:4096}`

[2018-05-09 12:59] adrianchifor opened #90 "kapitan init"
`kapitan init` command to create an empty/example project skeleton.

[2018-05-09 14:15] adrianchifor opened #91 "Dependency management"
We could of course use plain git submodules, but what if we only need only one file or folder from an external git repo, http url or even helm chart/templates ?

I would like to introduce the concept of modular dependencies in kapitan, and it would look something like this:

[code]

In this scenario, `kapitan compile` will pull `github.com/grafana/grafonnet-lib/grafonnet/*` and `github.com/bitnami

[2018-05-09 14:47] sbarzowski commented on #91
FYI there's an effort to create a standard dependency management for jsonnet, called jsonnet-bundler. I think the authors have thought it out pretty well. I see you want to do deal with much more than just jsonnet, so I'm not sure how relevant it is.

repo: https://github.com/jsonnet-bundler/jsonnet-bundler
doc: https://docs.google.com/document/d/1czRScSvvOiAJaIjwf3CogOULgQxhY9MkiBKOQI1yR14/edit?u

[2018-05-09 14:50] adrianchifor commented on #91
Yes we've seen that, we can easily create a dependency module specifically for jsonnet (`type: jsonnet`) that uses the standard. The idea is still very fresh, once it's a bit more mature we will take a look :)

[2018-05-11 09:02] axot opened #96 "How to generate duplicated keys?"
I want to generate `google_iam_policy` for terraform, here is a sample code.

[code]

How to generate two `binding` sections with different values?
Thank you.

[2018-05-11 10:47] gburiola commented on #96
Hey @axot.

When converting HCL to JSON, `binding` becomes an array with 2 objects:

[code]

There are some good HCL to JSON converters on github. If you just want to convert small snippets of code you can use https://www.hcl2json.com/

[2018-05-11 10:47] #96 closed

[2018-05-18 03:12] axot commented on #96
@gburiola Thanks for your advice! After some tries, it almost works now, one problem here now is the compiled json file will escape role's `/` to `\/`, this makes terraform get an error `Error: Error parsing iam.tf.json: 16:31: illegal char escape`.

[2018-05-18 07:36] axot commented on #96
It seems this issue was fixed by this commit, https://github.com/deepmind/kapitan/commit/25abab3628a6c2070e0ce7dedc2b9046ccf90457

Thank you.

[2018-05-24 21:13] adrianchifor opened #100 "Create `|randomstr|sha256` function in secrets backend and support pipes"
Similar to the current `randomstrb64`, but instead sha256 the random string, with an optional parameter as the salt.

Would be great to allow pipes like `|randomstr|base64` or `randomstr|sha256:salt` to make the functions much more generic.

[2018-05-25 11:56] #84 closed

[2018-05-25 12:03] #100 closed

[2018-05-25 14:17] DWSR opened #105 "Pull secrets from Hashicorp Vault"
As a Vault user, I would like Kapitan to be able to pull information from Hashicorp Vault so that I can have a single authority on secrets in my organization.

**Acceptance Criteria:**
* Supports both v1 and v2 [KV backends](https://www.vaultproject.io/docs/secrets/kv/index.html) including the ability to specify a version of a value where appropriate.
* Inherits or detects Vault information from t

[2018-05-25 14:18] adrianchifor opened #106 "secrets validation and update only looks at targets"
If we have `secrets/common` for example, `kapitan secrets --validate-targets` or `kapitan secrets --update-targets` will ignore it and only look at `secrets/targets/`.

[2018-05-25 14:22] adrianchifor opened #107 "searchvar doesn't respect variable chain"
For example, `kapitan searchvar parameters.elasticsearch.replicas` will also match `parameters.mysql.replicas`, as it only seems to look at the latest value.

[2018-05-25 15:01] ramaro commented on #106
This is by design, not a bug. Secrets need to belong to a target so a recipient list can be fetched per target. Hence the need to be in `secrets/targets`.

Anything outside of `secrets/targets` won't be a target secret.

[2018-05-25 15:06] adrianchifor commented on #106
We can still check outside `targets` and see if a folder is linked to a `class`

[2018-05-25 15:15] ramaro commented on #106
Hmm, not sure I understand that use case.

[2018-05-25 15:30] adrianchifor commented on #106
Actually you're right, a sensible solution would be to keep everything in the targets, even if duplication occurs, as it allow for customization down the line.

Was thinking of our mysql example, where we have a secret `secrets/mysql/root/password`, it's used in the `mysql` components class, and get it's recipients from `common` class.

[2018-05-25 15:41] #106 closed

[2018-05-28 16:42] #107 closed

[2018-05-29 20:16] DWSR opened #109 "Allow configurable indentation for compiled YAML/JSON files"
https://github.com/deepmind/kapitan/blob/d7ba2af70c954f2f8687286bf3a057f03f2adda4/kapitan/targets.py#L347

[2018-05-29 23:31] adrianchifor commented on #109
#110 Will merge tomorrow :)

[2018-05-30 15:06] adrianchifor opened #111 "Set kapitan default flags in a config file (.kapitan)"
For example if we want to compile every time with `--indent 4`, we could make use of the Makefile, but would be nicer to allow configuration of flag defaults in a config file such as `.kapitan`, where we already store the latest kapitan version used for compilation.

`.kapitan` can become something like:
[code]
would be equivalent with running `kapitan compile --indent 4`

[2018-05-30 15:22] #109 closed

[2018-06-21 17:29] adrianchifor commented on #109
@DWSR Once we merge #125 (for `0.17.1`), you should be able to configure a default indent value in `.kapitan` like:
[code]

[2018-06-22 09:58] #111 closed

[2018-06-22 10:10] adrianchifor opened #126 "Support multiple markup languages in inventory"
The inventory only support YAML right now, but it would be cool to add support for TOML, JSON and XML (would have to serialize back to YAML to feed into reclass).

[2018-06-28 15:32] ademariag opened #129 "Processing continues while kapitan waits for gpg unlock key"
Currently when running `kapitan compile`, if gpg password is needed, the compilation for other targets will continue on the background making it difficult for a user to understand that entering the password is needed.

Eventually kapitan will error out with "encryption incomplete"

We should have a strategy to check if keyring is open/closed before compiling targets, or at least make it easier to

[2018-07-25 08:20] frittentheke opened #131 "Secret files containing multiple values / allowing GPG encrypted target files even?"
When many secrets are used, gpg will be running / invoked over and over again to decrypt each an every file containing just a little string.
It is certainly inefficient to run GPG for every such little string and it clutters the classes files to add gpg and the secret path for each time.

1) What about allowing referencing sub-variables in secret files like

[code]

-- This would allow decrypting

[2018-07-28 08:51] valibud opened #132 "Allow multiple directories for --search-path"
Hi :)

As I've already posted in #kapitan on Slack I am trying to use https://github.com/coreos/prometheus-operator/tree/master/contrib/kube-prometheus with kapitan.

For that I have fetched the libraries with jsonnet bundler `jb`

A `vendor` directory was created containing the libraries.

[code]

I have defined a component monitoring that imports kapitan and kube-prometheus from `vendor` directo

[2018-07-29 16:46] #132 closed

[2018-09-03 09:49] ramaro opened #142 "Add support for resolving container image digests by tag name"

[2018-09-03 10:14] ramaro opened #143 "importing helm charts support"

[2018-09-03 10:15] ramaro opened #144 "replace jsonnet with go-jsonnet"

[2018-09-03 12:27] ramaro opened #145 "create kapitan binary (using pyinstaller or similar)"

[2018-09-11 14:50] ramaro opened #147 "Improve error messages for missing mandatory kapitan inventory keys"
For an invalid target like the one below:

[code]

Compilation fails with a KeyError, not suggesting that `vars:` needs to be set:

[code]

A valid target needs at least `vars:target`, as below:

[code]

[2018-09-21 09:40] ramaro commented on #143
The idea is to transfer the helm chart, translate variables into an inventory reclass class and yaml structure to json/jsonnet. Still uncertain about go templates support, but it will either be translated into reclass references or we'll package kapitan with the go templating library.

[2018-10-02 09:54] adrianchifor opened #150 "GPG encrypt passes binary blob to secrets_file['data'] instead of base64"
`kapitan secrets --write/--update/--update-targets ...` does not base64 the encrypted data from secrets, instead it writes the encrypted binary blob directly to yaml:
[code]

[2018-10-08 15:06] DavidJeche commented on #105
This looks interesting but i would suggest the best thing to do here might be to generate config i.e for terraform, generate the terraform with consul template variable in place where secret should be.

When you run a deployment set your CI system to run consul template on the compiled file. This means you can keep the manifests,  secrets and environments independent of kapitan tool.

[2018-10-08 19:11] DWSR commented on #105
So if I understand this correctly, you're suggesting templating out a consul-template file with Jinja (because I doubt you can get this to work in JSonnet)?

[2018-10-09 10:53] DavidJeche commented on #105
I am not that familiar with Jsonnet and I am currently learning as a configuration language. I am not even sure how to manage dependencies with in terraform like how I reference an alternative resource or take output from a resource like IP address.

The main suggestion was to add string tags something like this should work:
` {
  locations: {
    'MyDataCenters': {
      description: "{{ range da

[2018-10-17 23:10] manhof opened #151 "Simpler Example"
It may be useful to do a simpler example for kaptian, something like a helloworld/hostname example that builds for multiple namespaces with a cluster.

[2018-10-19 13:51] ramaro opened #152 "Validate inventory yaml files before compiling"

[2018-10-20 19:09] rjmco opened #155 "Kapitan should warn if kapitan.secrets configuration is missing"
[code]

[2018-10-21 08:34] gburiola commented on #152
What kind of validation are you thinking of ?

I think most types of yaml validation should be done at reclass. This one one example:
https://github.com/salt-formulas/reclass/issues/59

[2018-10-24 20:05] ramaro opened #156 "Incomplete ref/secret tag hangs compile"
If an incomplete/invalid secret tag is referenced from the inventory, compile will hang indefinitely:

Given the inventory (note the missing `}` for my_secret):
[code]

and a jsonnet main.jsonnet file:

[code]

[2018-11-02 11:48] theinrichs commented on #150
@adrianchifor
Is this really fixed? I just tested kapitan 0.19.0 update-targets and the secrets still have
[code]
When you try `kapitan compile --reveal`
you get

[code]

[2018-11-02 11:52] ramaro commented on #150
@theinrichs was your secret created before 0.19.0?

[2018-11-02 11:54] ramaro commented on #150
`data:` should be not be !!binary - that was a bug introduced in master but I don't think it was ever part of a release. I can compile --reveal my pre 0.19.0 just fine.

[2018-11-02 20:15] adrianchifor commented on #80
This is now possible with the `?{ref:file/path}` backend.

[2018-11-02 20:15] #80 closed

[2018-11-02 20:17] adrianchifor commented on #69
Closing as it contains solutions. Remains searchable in case someone encounters this issue.

[2018-11-02 20:17] #69 closed

[2018-11-04 11:08] ramaro commented on #152
Just YAML syntax validation

[2018-11-14 21:13] gruzewski opened #161 "GPG fails to write secret when key doesn't have expiry date"
When expiry key is set infinity, Kapitan fails to write a secret with GPG. Stack trace below:

[code]

[2018-11-15 15:52] adrianchifor opened #162 "Failed to compare release-candidate versions"
[code]

[code]

[2018-11-15 16:18] #162 closed

[2018-11-16 14:20] adrianchifor opened #164 "secrets --update crash when -t is used"

[2018-11-16 15:52] #155 closed

[2018-11-16 15:53] #164 closed

[2018-11-21 17:19] adrianchifor commented on #150
Still happening on --update/--update-targets

[2018-11-23 13:35] #150 closed

[2018-12-03 17:58] adrianchifor commented on #91
@sbarzowski Forgot to mention, we merged #133 a while ago, which allows the usage of jsonnet-bundler to pull external dependencies and reference them inside kapitan.

[2018-12-17 18:10] uberspot opened #174 "Generate kapitan secrets with multiple encodings"
Let's assume the following use case:

A kapitan user wants to encrypt a password as a secret.
This password has to be used in:

 1. A secret.jsonnet file where it should be Base64'ed so that K8s loads it as a secret properly
 2. A jinja2 file where it should be displayed plaintext for various reasons.
 3. Other references in jsonnet files might also exist but they should not be Base64'ed.

Current

[2018-12-19 19:00] uberspot opened #178 "Add AWS KMS support"
As a secrets encryption backend

[2018-12-20 11:51] #178 closed

[2018-12-20 15:40] #161 closed

[2019-01-09 10:23] ifduyue opened #188 "kapitan source tarball on PyPI doesn't include requirements.txt"
[code]

[2019-01-09 10:52] #174 closed

[2019-01-09 10:54] adrianchifor commented on #188
Are you using python 3.6+? Also can you try adding `--no-cache` to install

[2019-01-15 13:50] uberspot opened #191 "Create kubelib in python for Kadet"

[2019-01-15 15:42] uberspot commented on #73
For reference: https://github.com/Yelp/detect-secrets/ and https://github.com/dxa4481/truffleHog/ seem to already do the same and more advanced checks and can be added to CI/CD pipelines. I'd recommend closing the issue.

[2019-01-15 19:06] #73 closed

[2019-01-18 14:44] #152 closed

[2019-01-22 17:47] uberspot opened #194 "Validate compile operation using jsonschema lib"
Have kapitan use the jsonschema lib (if you enable it in your inventory).
jsonschema lib will validate the compiled file output structure for k8s/terraform/whatever other yaml resources.
links:
https://json-schema.org/implementations.html
https://pypi.org/project/jsonschema/

[2019-01-22 17:50] uberspot commented on #143
Can be done as part of #91 .
More info on helm issue:
[code]

[2019-01-22 17:53] uberspot opened #195 "Integrate ksonnet projects to kapitan"
aka write a tool to import a ksonnet project to kapitan

[2019-01-22 17:55] uberspot opened #196 "Integrate skycfg with kapitan"
Write an input type to support starlark lang:

Context:
https://skycfg.fun/
https://github.com/stripe/skycfg

[2019-01-22 18:17] uberspot opened #197 "Allow setting inventory values based on custom commands"
Possible example, but the format of the inventory is flexible, you can use whatever is better.
[code]
And the output would be saved/cached somewhere.

[2019-01-24 10:44] uberspot commented on #70
Closing this since first stage is now done. Further linter checks can be added in other tickets :)

[2019-01-24 10:44] #70 closed

[2019-01-24 10:48] uberspot commented on #142
@ramaro Can we add some more context/info and tags here?

[2019-01-24 10:56] uberspot opened #198 "Restructure/simplify readme"
The README needs some work.
- simplifying examples and explanations,
- restructuring it to multiple smaller files to make reading easier
- removing duplicate phrases/noise
- making sure the gh-pages (https://kapitan.dev/ ) also works and looks nice.

[2019-01-28 18:21] uberspot opened #201 "GSoC task"
This is a small Kapitan exercise for gsoc students to understand how kapitan works.

Task description:
  Create a project, using kapitan, that generates multiple different nginx configurations based on an inventory. Something like https://github.com/defunkt/nginx_config_generator but instead of using that cli tool, use kapitan and an inventory to parametirise your nginx.conf.

Expected file struct

[2019-01-29 15:56] uberspot opened #203 "Warn user when mismatch between target mentioned in yml and the name of the target yml file"
**Describe the bug/feature**
When the target mentioned in a yml file is different than the name of the target yml file itself you might get compilation errors like ` Jsonnet error: failed to compile ... `

**To Reproduce**

Steps to reproduce the behavior:
1. Go to a yaml under inventory/targets
2. In one of the target yml files: change the value of `parameters.target_name to something different t

[2019-01-30 09:15] Karthickarumugam opened #205 "can you give me some reason why we should use terraform template"
We are  moving away from helm and started using kapitan.

On the other side, can you give me some reason why we should use terraform template instead of using terraform directly?

Any special feature we would get if we use kapitan template?
Personnel i feel it is extra step to use terraform in kapitan, but open minded to explore.

[2019-01-30 11:34] ademariag commented on #205
@Karthickarumugam you can also join us on the kubernetes #kapitan channel :)

[2019-01-30 13:56] uberspot opened #208 "Add tests for secrets"
The following secrets functionality is missing from tests:

 - update targets
 - validate targets
 - aws kms backend
 - gkms backend

[2019-01-30 14:22] uberspot opened #209 "Add test coverage to the CI/CD pipeline"
This issue is about adding test coverage checks in the travis pipeline to hopefully improve our test coverage in the future. The check in Travis should fail if we fall under the current 51% threshold with new PRs.

[code]

Useful links:
https://coverage.readthedocs.io/en/v4.5.x/
https://github.com/audreyr/how-to/blob/master/python/use_coverage_with_unittest.rst

[2019-02-07 19:50] metacoma opened #210 "b64encode jinja2 uses a wrong value of secret for encoding"
**Describe the bug/feature**
Wrong b64encode behavior with secrets parameters in jinja2 templating

**To Reproduce**
Steps to reproduce the behavior:
1. create gpg secret
[code]
2. create target with dockerhub_password parameter, for example `inventory/targets/bug` with content:
[code]
`templates/dockerhub.txt` content:
[code]
3. run `kapitan compile -t bug --reveal`
4. check compiled file:
`cat c

[2019-02-07 20:07] ramaro commented on #210
Because this is evaluated at compile time, you won't be able to base64
encode a secret like that.
Consider using instead `echo -n "dockerhub_password" | kapitan secrets -vvv
--write gpg:me/dockerhub/password --base64 -t common -f -`
And removing the base64encode filter.

On Thu, 7 Feb 2019, 19:50 metacoma, <notifications@github.com> wrote:

[2019-02-07 20:24] metacoma commented on #210
Thanks!

[2019-02-07 20:24] #210 closed

[2019-02-07 20:24] ramaro commented on #210
Because this is evaluated at compile time, you won't be able to base64 encode a secret like that.

Consider using instead

[code]

And removing the base64encode filter.

[2019-02-10 01:16] prakashrj opened #211 "Load environment variables in config file (.kapitan)"
It will be nice if different paths used by kapitan command can be referenced with environment variables like in the following example.

[code]

[2019-02-12 11:55] adrianchifor opened #212 "Use data envelope encryption for gkms/awskms"
Cloud KMS quotas are easily hit when we have a lot of secrets as it does a decrypt operation per file. We need to generate an envelope key per target and use that for encrypting the secrets in that target.

[2019-02-12 19:39] sh0rez commented on #195
More relevant right now as ksonnet got deprecated ksonnet/ksonnet/pull/914

[2019-02-19 09:27] frittentheke opened #214 "Add more jinja2 filters (those from Ansible or even allow to add ones own custom filters)"
**Feature Request**

Currently Kapitan does support the core Jinja2 filters to which a handful of filters are added (https://github.com/deepmind/kapitan/blob/918e905a7ccf386226a697e8f2adcad0d1cec3ee/README.md#jinja2-custom-filters).

While the filters Kapitan delivers out of the box are all very helpful, sometimes more string modifications are required on the inventory items to use them efficientl

[2019-02-25 12:01] uberspot opened #215 "Expand on kapitan init"
Expand on the work done https://github.com/deepmind/kapitan/pull/213
and add functionality to:

 - generate parameterizable target files
 - generate parameterizable class files
 - generate parameterizable components (jinja2, kadet, jsonnet)

[2019-02-25 14:16] #90 closed

[2019-02-26 16:00] caioaao opened #217 "Add `lib` to directory created with init command"
**Describe the bug/feature**
The directory created with `init` doesn't contain `.kapitan` file and `lib` directory mentioned in
the [typical folder structure part of the guide](https://github.com/deepmind/kapitan/tree/c70d20ced6b00053134252e8bf78f7e0645fd7cf#typical-folder-structure)

**To Reproduce**
Run `kapitan init --directory <directory-name>`

**Expected behavior**
Have a directory ready for

[2019-02-27 09:40] uberspot commented on #217
`lib/kapitan.libjsonnet` is already included in the kapitan installation so you don't have to include it.
We avoided adding `lib/kube.libjsonnet` since that is kubernetes specific and kapitan can be used in other contexts as well so it would be 'noisy' to always include it in new directories. Also .kapitan is not needed in new directories unless you want to lock the version of kapitan to a specifi

[2019-02-27 14:37] caioaao commented on #217
Yeah, I misunderstood the usage of `lib/kapitan.libjsonnet` and `.kapitan` files. But about `kube.libjsonnet`, I do agree copying it to projects that won't be about kubernetes might be noisy, but the what are the alternatives? I don't think relying on copy/paste from the examples directory is a good idea or experience. Implementing a "dependency manager" for kapitan is not a good idea as well. Thi

[2019-02-27 14:51] adrianchifor commented on #217
The `kube.libjsonnet` we have is a base example that needs improvement, but I believe [bitnami](https://github.com/bitnami-labs/kube-libsonnet) has a more up-to-date version.

We are experimenting with [kadet](https://github.com/deepmind/kapitan/pull/190) right now to replace usages of jsonnet as we are slowly hitting limits with its implementation and complexity/readability. There's a plan to rev

[2019-02-27 15:00] caioaao commented on #217
Just came across #91 while looking for a dependency manager for jsonnet. I think that issue is more generic than this one and the discussion will be more fruitful there, so I'm closing this issue.

I'll still keep the PR #218 open just as a workaround for now.

[2019-02-27 15:00] #217 closed

[2019-02-27 15:09] caioaao commented on #91
My 2C on the subject: I don't think kapitan be responsible for managing these kinds of dependencies as it will needlessly grow in complexity since it will be managing dependencies of other tools, like jsonnet or Python, and we know the latter is already a mess with a plethora of tools and different dependency management tools.

A more generic and simpler approach IMO would be having pre-conditions

[2019-02-27 18:57] nikkomega commented on #91
I believe (correct me if I'm wrong, anyone) this issue isn't about build/runtime type dependencies like you're describing, but having kapitan configuration that's dependent on other repositories or sources of kapitan (or relevant jsonnet/jinja snippets, etc) config, i.e., having a some-app config repo that references an external standard-myorg-app-base as a parent, and/or pulls in a common envoy-s

[2019-02-28 15:56] rohitsanjay commented on #145
This seems interesting to me. I would like to work on this project as part of gsoc. It would be helpful if you throw some more insight into this project.

[2019-02-28 16:37] uberspot commented on #145
Ramaro has a test branch with some initial implementation of this https://github.com/ramaro/kapitan/tree/cython_build
The goal is to get automated binaries of kapitan that can be easily deployed anywhere.
Minimal maintenance is desired. All build artifacts should be auto-tested and released on github as well.

[2019-02-28 17:05] rohitsanjay commented on #145
@uberspot Thanks , I will look into it and report my progress.

[2019-02-28 21:34] frittentheke commented on #210
@ramaro  @metacoma  ... so am I reading this correctly, there is NO way to store the password raw and only render it to be base64? One has to store it in base64 if one needs it to be base64 in the templated files?

[2019-03-01 06:53] rbounds opened #224 "f809747 breaks compile"
**Describe the bug/feature**

Removal of ujson in f8097473df64678b1ba8b34100babe49f050450a breaks  compile as json does not support [escape_forward_slashes](https://github.com/deepmind/kapitan/blob/master/kapitan/inputs/base.py#L126) kwarg.

**To Reproduce:**
Steps to reproduce the behavior:
`cd examples/terraform`
`docker run -u $(id -u) -t --rm -v $(pwd):/src:delegated deepmind/kapitan:latest co

[2019-03-01 11:04] uberspot commented on #210
Not fully, You can use the reveal function to get a secret and then base64 it with jinja or whatever you want. See example here: https://github.com/deepmind/kapitan/blob/master/examples/kubernetes/inventory/classes/component/mysql.yml

[2019-03-01 11:05] uberspot commented on #224
Sorry about this, we were missing tests for json output. I added a test for that as well now which should catch it in the future. :+1: Thanks for reporting.

[2019-03-01 11:05] #224 closed

[2019-03-01 13:44] adrianchifor opened #227 "Move kapitan docker image to GCR"
This work includes:
- Moving the `ci/Dockerfile` to the root to have the current build context. This way, the CI image can pickup the current version instead of pulling from master on GitHub; this makes it more consistent with the base Dockerfile.
- Migrating the build pipeline to GCR (Google Container Registry)
- Update webhooks in GitHub to push to new registry
- Update docs

[2019-03-01 16:01] ramaro commented on #210
@frittentheke to answer directly to your question: that's correct, at the moment there's no way to store the same password raw and only render it to be base64. You will have to create 2 secrets for the same password with different encodings.

[2019-03-05 16:58] adrianchifor commented on #214
Thanks for raising this, wanted to add more jinja2 filters for a while, the ansible filters are a good starting point.

[2019-03-05 20:56] prakashrj opened #231 "Reusable and well composed manifest for ZooKeeper"
**Reusable and well composed manifest for ZooKeeper**
 Power of Kapitan depends on how well you can compose manifest. If we can have good example, people can expand on it and follow such practices for other applications.

[2019-03-06 10:21] #209 closed

[2019-03-06 14:37] adrianchifor opened #232 "Major version pinning in .kapitan crashes compilation"
Kapitan should be able to handle pinning to major versions e.g. setting version to 0.22 should proceed compilation if the version is >= 0.22.*

[code]

[code]

[2019-03-06 17:08] #232 closed

[2019-03-07 06:34] mithil2311 commented on #144
can you explain about this problem statement?

[2019-03-07 23:33] adrianchifor commented on #144
@mithil2311 We are currently using the direct Python library which uses the C++ version of jsonnet. To increase the speed of jsonnet compilation, we need to move to the Go version https://github.com/google/go-jsonnet and create Python bindings for it.

[2019-03-08 00:50] sbarzowski commented on #144
(Jsonnet dev here)

FYI basic C bindings for go-jsonnet are probably going to be merged soon (PR: https://github.com/google/go-jsonnet/pull/257). The main missing part is the support for native functions. Other than that it's a drop-in replacement.

My understanding is that the Python bindings just use C bindings internally, so no changes outside of `setup.py` should be necessary.

[2019-03-08 17:29] rbounds opened #235 "Allow wildcards or directory for compile_input path."
**Describe the bug/feature**
Allow wildcards or directory for compile_input path.

It would be nice to define one class that handles inputs and outputs for everything in a directory.
[code]

[2019-03-08 17:47] #214 closed

[2019-03-08 18:51] ramaro opened #237 "Allow defining custom jinja2 filters in templates"
**Allow defining custom jinja2 filters in templates**

We now have more jinja2 filters (thanks to @adrianchifor work on #234). However I'd like support for providing a custom python file with more filters, e.g.:

[code]
The default behaviour should be for Kapitan not to error should the default jinja2 filters file not exist.

Should it exist, Kapitan will first import those filters into jinja2's i

[2019-03-09 18:05] adrianchifor commented on #208
https://github.com/deepmind/kapitan/pull/236 covers `--validate-targets` and [aws/g]kms flow.

[2019-03-11 15:30] adrianchifor commented on #214
@frittentheke if you want to experiment with the new jinja2 filters we've just made a release candidate https://pypi.org/project/kapitan/0.23.0rc1/

[2019-03-14 10:10] uberspot opened #240 "Use python fire for all cli commands"
Some minor refactoring in cli.py to use https://github.com/google/python-fire will allow for much easier expansion in functionality later on with less code.

[2019-03-15 15:58] ramaro opened #241 "Writing ref secrets from the command line fails"
**Writing ref secrets from the command line fails**

Currently `ref:` secret types are not supported in the command line.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Create ref type secret

[2019-03-16 11:38] yoshi-1224 commented on #203
Hi,

I went through the codebase and found that `load_target_inventory` function in `targets.py` is a good place to do the check, since we have `targets_list` variable and `inventory_path`. Can I proceed with this idea?

Also, should we throw `InventoryError` (defined in `errors.py`) for such a mismatch, or create another custom error class?

[2019-03-16 14:00] uberspot commented on #203
Feel free to proceed. :) I think InventoryError with a custom error message that explains the problem and which file caused it would be helpful enough.

[2019-03-16 15:12] pranavgupta1234 commented on #194
Hi @uberspot , I would love to work on this issue under GSOC 2019. I have started exploring the Kapitan source and it would be great if you can point me in some specific direction to begin with.

[2019-03-16 17:11] yoshi-1224 commented on #203
Thanks for the quick reply! I'll be making a PR shortly for this issue.

[2019-03-17 05:47] yoshi-1224 commented on #145
Just curious because I'm also interested in this project: do we intend to Cythonize the code before converting it into binary/one-folder using pyinstaller or something similar?

[2019-03-17 09:53] ramaro commented on #145
That's the idea.

[2019-03-17 13:48] ramaro commented on #241
fixed in #242

[2019-03-17 13:48] #241 closed

[2019-03-17 14:54] ramaro opened #244 "secret function |randomstr length parameter compiles inconsistent values"
The `|randomstr` function has an optional length parameter which if set, will return a random string with that length.
As it depends on python's [secrets.token_urlsafe](https://docs.python.org/3/library/secrets.html#secrets.token_urlsafe) function, the length is inconsistent because the output is base64'd

**To Reproduce**
1. Create a secret using `|randomstr:16`
2. Compile and reveal secret
3. Th

[2019-03-17 19:27] gburiola commented on #203
Instead of doing a check, why not getting rid of the need to define `target_name` inside the yaml file and dynamically creating the variable ?

[2019-03-18 10:35] uberspot commented on #198
Use https://squidfunk.github.io/mkdocs-material/getting-started/ as part of the above work.

[2019-03-18 12:54] #244 closed

[2019-03-18 22:14] uberspot commented on #151
Just for reference, there are some examples also available here https://github.com/ramaro/kapitan-examples/ in case it helps anybody.

[2019-03-19 04:27] yoshi-1224 commented on #142
I've been exploring this topic lately, and am wondering about:

1. how we should identify whether the user actually means to write a docker tag in a file or not, that is, if any pieces of text that resembles `foo:bar` format may not necessarily refer to docker tag. Maybe we intend to limit this feature only to `FROM` line in Dockerfile?

2. How to get sha256 digest from docker tags. There are dock

[2019-03-19 07:21] uberspot commented on #142
I have the impression that this could actually be easier to solve if #197 was done. Then you could get the latest digest with a custom command at compile time.

[2019-03-19 10:19] yoshi-1224 commented on #142
@uberspot
Agreed! That way we can support more commands, and let the user decide whether to use tags or digests to start with, as well as where to get the digest from. I'll look into #197 then.

[2019-03-19 17:17] ramaro commented on #197
I think this needs a bit more discussion on the user experience. Does it make sense to use/abuse the secrets system for such feature? Is an `exec` type really necessary? Should it be a function instead?

[2019-03-19 17:19] ramaro commented on #197
I also think the best solution is actually to allow the user to define custom functions for their templates

[2019-03-19 20:16] #203 closed

[2019-03-20 14:42] pranavgupta1234 commented on #240
Hi @uberspot, I am planning to work on this issue. I was checking into this python-fire guide [https://github.com/google/python-fire/blob/master/docs/guide.md](url) and although there are different possible implementations, one of them can be, as we have 7 different subparsers, so we can make a function for each one of them with corresponding arguments included in it which can then be handled by f

[2019-03-20 15:40] uberspot commented on #240
Sounds like a class for each subparser is an overkill.
It might be simpler to follow their example like here:
[code]

[2019-03-20 17:06] pranavgupta1234 commented on #240
We can shift each subparser code block inside our current if-else tree into separate functions along with necessary arguments and then just fire using a dict. Should I proceed with this implementation ?

[2019-03-20 17:30] uberspot commented on #240
If you wish yes. We can continue comments on the PR. :+1:

[2019-03-23 05:42] Mah1ndra commented on #126
Hello @adrianchifor. I would like to work on this issue for Gsoc. Adding multiple markup lang gives flexibility to the tool and to the users. I feel this is a good issue for me to work on this project.

[2019-03-23 13:23] pranavgupta1234 commented on #240
Hey @uberspot, I wanted to discuss on some issues before creating a PR. Like:
1) Fire uses arguments from function to create flags so we can use only one flag (either longhand or shorthand notation)
2) Features like, choices=('yaml', 'json') provided by argparse, such checks now have to be done manually inside function and appropriate error has to be raised.
3) Check for nargs also inside function

[2019-03-24 09:53] yoshi-1224 commented on #144
HI @sbarzowski,

Please excuse my lack of understanding. Could you kindly explain what you mean by

[2019-03-24 13:19] sbarzowski commented on #144
Sure. I meant that this function from the libjsonnet.h is not implemented yet in the bindings:
[code]

Native extensions are a feature which allows calling your own C function from Jsonnet - I can see that Kapitan uses it for a few functions (https://github.com/deepmind/kapitan/blob/master/kapitan/lib/kapitan.libjsonnet).

The `jsonnet_json_*` family of functions (which is only useful for native f

[2019-03-25 02:14] yoshi-1224 commented on #144
@sbarzowski
Thanks for the detailed explanation! I now see what the challenges are. If I have time to work on this issue I'll try my best to help.

[2019-03-25 07:51] michiboo commented on #191
Hi I would like to work on this issues! Could you point to an example that are already done or explain it in more detail?

[2019-03-26 16:05] uberspot commented on #240
That seems like it would work. I can't really comment without seeing code but for 2) it's ok if we move that basic check in the function. We only use it in one place. For nargs a similar check will be needed but that at least can be re-used in a function, so code changes should be minimal.

[2019-03-28 15:13] pranavgupta1234 commented on #194
Hey @uberspot, what tasks are involved in validating the file output structure ? Currently I think that we are required to define a jsonschema which will define properties for compiled files like their type, location, etc.

[2019-03-28 15:37] pranavgupta1234 commented on #240
Hey @uberspot , can you go over above discussion in python-fire about some current difficulties. They have some few suggestions and we will have to decide on a specific way of implementation.

[2019-03-28 16:43] uberspot commented on #240
dbieber's suggestion in https://github.com/google/python-fire/issues/169#issuecomment-476879055_ sounds pretty good actually. Some minor parsing for specific types is also acceptable given that this will anyway decrease the code size significantly.
One last thing I'd recommend verifying before you get into this more is to make sure the kapitan cli interface doesn't break with these changes. A user

[2019-03-28 19:42] vaibhavk commented on #215
parameterizable here refers to the command-line parameters support?

[2019-03-29 13:02] uberspot commented on #215
I think the concept here was to try and make `kapitan init` generate example target/class/component files based on some parameters that a user inputs.
Something like `kapitan init --target-name <a new target name>` and it would generate the correctly named file for the user. And the generation would handle the `kapitan.compile` parameters, depending if the user wants jinja2, jsonnet or kadet.
This

[2019-03-29 13:27] vaibhavk commented on #215
This makes more sense to me now, thanks

[2019-03-30 15:05] vitiho opened #254 "Multiple backends for a secret"
It would be nice to have ability for multiple backends for the same secret, for example:

gcloud_privatekey: ?{kapitan:namespace/stage/gcloud_privatekey|base64}

and under the secrets definition have:

    secrets:
      kapitan:
         gkms:
             key: 'projects/<project>/locations/<location>/keyRings/<keyRing>/cryptoKeys/<key>'
         gpg:
           recipients:
              - name:

[2019-03-31 22:38] pranavgupta1234 commented on #126
Hey @adrianchifor , I was exploring this issue and found out that in our current implementation, we have used reclass API by supplying with paths of yaml files only (in the function inventory_reclass) to generate "reclass inventory".
I am thinking for in memory serialization of above formats into yaml but the object supplied to reclass is storage(which essentialy contains reclass_config with appro

[2019-04-01 11:37] th31nitiate opened #255 "Document the Kadet input"
I apologize as this is just a request for an understanding of what Kadet is and how it functions?

I am trying to gain a better understanding as to when using the dev version I am able to init a directory with examples, but it is not very clear as to the function.

It looks like a method to perform inventory from python scripts but this is not clear.

[2019-04-01 11:43] ramaro commented on #255
Kadet is undocumented on purpose because it is experimental. But have a read of  https://github.com/deepmind/kapitan/pull/190 and you'll get a feel of what it currently does.

[2019-04-01 16:38] adrianchifor opened #256 "Support toml and xml as output_type"
We currently support `yaml` and `json` as an `output_type` for jsonnet and kadet. A lot of services depend on `toml` or `xml` configuration so it would be nice to add that functionality.

[2019-04-01 16:38] adrianchifor commented on #126
That's a good question. We use `storage_type: yaml_fs` right now but as far as I'm aware there isn't a way at the moment to use memory for reclass. This change is quite tricky, high risk as it can easily break current functionality and low reward in terms of features and productivity, so I wouldn't worry too much about it.

Another thing we can look at is supporting more outputs like toml and xml,

[2019-04-01 16:38] #126 closed

[2019-04-01 16:41] uberspot commented on #255
I changed the ticket to track documenting the feature in the future.

[2019-04-02 09:32] gburiola opened #257 "Add support to CUE"
See if we can integrate https://cue.googlesource.com/cue/ as kapitan input

[2019-04-02 13:32] vaibhavk commented on #144
@yoshi-1224 Can I take this issue for SoC if you aren't planning to work on it full time?
I have some knowledge of golang that might help in implemention on ```go-jsonnet```.

[2019-04-02 13:57] yoshi-1224 commented on #144
Hi @vaibhavk
Of course! I'm not submitting a proposal for this, but even if I were there's no need to ask because it's not first come first served.

[2019-04-02 14:06] maheswarasunil opened #258 "Support to validate the inventory before compiling"
**Support to validate the inventory before compiling**
   We are trying to explore the options for inventory value validations. Example
In inventory
[code]
we like to validate the value of 10G before compile.
As jsonnet is not having many libraries to support like regex validations etc. We are not able to achieve this.

It would be great if we can have validation support.

[2019-04-03 18:16] pranavgupta1234 commented on #256
Hey @adrianchifor , as toml and xml can be easily convertible to json so the compiled output we get from jsonnet and kadet compiler can be converted to toml or xml and can be written subsequently. Still the components/templates will be written in jsonnet/jinja2/kadet because there is not "something" for toml as jsonnet is for json. Or is there ?

[2019-04-03 18:40] adrianchifor commented on #256
Input would still be jsonnet and kadet. The functionality that needs to be added is the `json -> toml` and `json -> xml` dumpers.

[2019-04-03 19:34] drzero42 opened #259 "parseYaml function in jsonnet"
Kubecfg has a parseYaml function in kubecfg.libsonnet (implemented through a native callback, so I can't just import kubefcg.libsonnet in my kapitan jsonnet files). It would be great to get the same functionality in kapitan.libsonnet.

[2019-04-03 19:40] drzero42 opened #260 "Remote URLs in jsonnet imports"
kubecfg has implemented the ability to do import and importstr on URLs, making it possible to import libraries and JSON/YAML (if combined with #259) from remote sources.
This would make it possible to import an upstream YAML and output a modified version, giving Kustomize a run for it's money with the power that jsonnet brings to the table. See something like [kustomize-libsonnet](https://github.c

[2019-04-05 07:02] harsh-98 opened #261 "Install deps doesn't return proper pkgs list"
**Describe the bug/feature**
In setup.py the install_deps function return pkgs and new_links list. It simply reads the requirements.txt and return lines in list form. It doesn't check whether that line is a comment or not.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to setup.py
2. install_deps doesn't directly print the json output for that I simply add:
`import json; print(json.dumps

[2019-04-05 09:23] uberspot commented on #261
The expected behaviour of this is actually allowing comments as well.
From https://setuptools.readthedocs.io/en/latest/setuptools.html#declaring-dependencies
`# comment lines and \ continuations are allowed in requirement strings`
So we don't actually need to fix this since comments improve readability. :+1:
Closing for now.

[2019-04-05 09:23] #261 closed

[2019-04-05 14:00] harsh-98 commented on #259
I would like to work on this. @uberspot

[2019-04-05 16:50] harsh-98 commented on #235
We can use glob library it supports wildcard when searching for files and directory. Using glob, support for expressions like `directory/**/*`, `directory/*` , `direct*/*` can be implemented but then we need to check whether the path is a file and its extension. @ubespot what do you suggest?

[2019-04-05 17:39] uberspot commented on #235
Sounds reasonable. :+1:

[2019-04-05 18:30] adrianchifor commented on #235
You can't compile a whole folder as jsonnet won't know what to call the outputs and in what order to process them. This is why we use `main.jsonnet` in most components which then reference `deployment.jsonnet`, `service.jsonnet`, `secret.jsonnet` etc.

Kadet will however default to `__init__.py` if you point it to a folder. Not sure about jinja.

[2019-04-06 08:02] harsh-98 commented on #235
So, only for jinja2, there should be support for wildcard and directories.

[2019-04-06 08:07] pranavgupta1234 commented on #237
Hey @ramaro , I am planning to work on this issue. The execution plan can be to use [importlib](https://docs.python.org/2/library/importlib.html#importlib.import_module) to dynamically import the custom filter module specified by user and then define one more function "load_jinja2_filters_from_file" to import the functions and suppy them in env. We can extract the name for function but then the ex

[2019-04-06 08:37] harsh-98 commented on #235
This functionality is already there in kapitan. For jinja2, we can pass directory and it will render for the files in that directory. Look at render_jinja2 in https://github.com/deepmind/kapitan/blob/master/kapitan/utils.py#L128. And this is directory tranversal cannot be used for jsonnet as mentioned by @adrianchifor

[2019-04-06 12:27] harsh-98 commented on #211
@prakashrj What should be the value of KPATH environment variable?

[2019-04-06 12:30] harsh-98 commented on #151
@uberspot I have use https://github.com/ramaro/kapitan-examples/. I would like to work on this.

[2019-04-06 17:05] yoshi-1224 commented on #212
@adrianchifor This one looks interesting! I will take a look

[2019-04-06 17:09] adrianchifor commented on #212
I have an implementation for this which I will push in the following weeks.

[2019-04-07 05:55] yoshi-1224 commented on #131
Hi @uberspot! Could you share with us what the current situation for this issue is, i.e. is this enhancement going to be implemented, in the middle of implementation etc.?

If I understood correctly, I personally prefer the first idea, because it more clearly separates the secrets from the rest, and is more intuitive as is an extension of what we already have. It also seems more backwards compatib

[2019-04-07 10:19] harsh-98 commented on #196
@ubersport, skycfg is written in golang. So, firstly we have to create c shared object file for skycfg and then python bindings for c shared object. Is this right and also can you provide more information on this issue

[2019-04-07 10:35] yoshi-1224 commented on #129
Hi @ademariag @uberspot
I don't think it is easy to modify the behaviour of the gpg-agent and pinentry prompt, but what we can do is to **terminate early** with error when the passphrase is not cached.

In kapitan, we use python-gpg module that wraps around gpg executable. When we perform secret encryption, the corresponding command is (stripping away the kwargs and assuming asymmetric encryption)

[2019-04-07 12:19] harsh-98 commented on #91
@adrianchifor.  As mentioned by caioaao we don't want a complex dependencies manager. Only a checker which find whether we are using specific version  or not. If not, tell user to use that version.
[code]
Also,  just to clarify, if a user has installed kapitan with jsonnet version 0.11 and is using python 2.7. So, if user try run kapitan on main.jsonnet with version specific as 0.12, kapitan shoul

[2019-04-07 12:32] harsh-98 commented on #197
@uberspot . Exec feature can also be abused. Like running some malicious command. Though we can put some checks that only specific commands are allowed like in  `eval_func`  . https://github.com/deepmind/kapitan/blob/master/kapitan/refs/functions.py#L30

[2019-04-07 12:39] harsh-98 commented on #143
@ramaro  Can explain what you mean by `it will either be translated into reclass references or we'll package kapitan with the go templating library.` .
Does packaging kapitan with go templates, means to create a c shared object and create python bindings for it?
And i didn't understand the reclass references part?

[2019-04-07 15:18] harsh-98 commented on #129
I try running `kapitan compile` with my password and password_256 deleted for kubernetes mysql example.
And it waited for password on my system. @ademariag Is this issue valid now?

Also @yoshi-1224 , the problem with failing when the passphrase is not cached, is that user will have to run gpg command manually, so that system can cache the passphrase. And then run kapitan compile.

[2019-04-07 15:29] yoshi-1224 commented on #129
@harsh-98

Yes, this is exactly what I experienced as well, which I believe is preferred for some users but not for others?

Yes I know, because I've looked into this. In fact this is the exact point @ademariag is bringing up. The issue I found is that it is hard to know in advance whether a passphrase is cached or not (because there is no such interface, or even if there is, can be inconsistent a

[2019-04-07 15:50] yoshi-1224 commented on #129
@harsh-98 Actually, I agree with you that this might no longer be an issue, because I also noticed that the prompt does wait for the user to enter the passphrase!

[2019-04-08 06:17] harsh-98 commented on #143
I am not able to find support (or any lib) which provides bindings for go templates lib. I search on pypi and google search too. For helm, a lib named [pyhelm](https://github.com/flaper87/pyhelm) is there. It uses protoc to compile protobuf messages to python. So, that gRPC communication to tiller can happen from python. It is basically a helm client. It can load charts but it doesn't render them,

[2019-04-08 08:18] harsh-98 commented on #256
@adrianchifor , why do we need toml and xml output formats. Almost all the time kubernetes/ terraform/ and other container orchestrators uses yaml, and even json output is sparsely used. Any specific reason?

[2019-04-08 08:34] pranavgupta1234 commented on #256
@harsh-98, kapitan is a generic tool and not just limited to k8s and terraform. We want to extend usability of kapitan for other tools as well which use these languages for their configuration management.

[2019-04-08 08:36] ramaro commented on #256
It's for the "other things" :)

On Mon, 8 Apr 2019, 09:34 Pranav Gupta, <notifications@github.com> wrote:

[2019-04-08 09:55] uberspot commented on #212
I have some python code that implements data envelope encryption as well for aws. Let me know before starting work on this so we merge the efforts. :+1:

[2019-04-08 09:57] uberspot commented on #131
Agreed, the first idea sounds more elegant as well. As far as I know no one is looking into this yet. :)

[2019-04-08 10:01] uberspot commented on #197
Those malicious commands will have to be coming from the developers themselves I assume.
We could start with a list of allowed commands but sanitizing these seems like extra effort to restrict the developers themselves. Kapitan isn't meant to handle external/unsanitised  user input anyway. It's a templating tool.

[2019-04-08 10:17] yoshi-1224 commented on #131
Ok! Let me draft up an implementation for this

[2019-04-09 12:20] #259 closed

[2019-04-09 12:36] harsh-98 commented on #260
@uberspot I will start working on this one, as #263 is merged. And will also do the suggested changes in other open PRs.

[2019-04-09 17:30] ramaro commented on #197
Let's close this and work on allowing custom functions instead?

[2019-04-09 17:37] ramaro commented on #143
We don't want to take the tiller approach. We want instead a new helm input type which we can compile. For this we'll need to build a golang templating library that is loadable from python (c bindings).
By inventory references, I meant that values will get translated/copied into new inventory component classes (prefered) or we'll need to change kapitan to read values.yml from elsewhere other than

[2019-04-09 19:25] uberspot commented on #197
:+1: closing

[2019-04-09 19:25] #197 closed

[2019-04-09 19:43] vaibhavk commented on #198
I would like to work on this, would share the structure of docs that I propose

[2019-04-09 20:04] vaibhavk commented on #50
In kapitan currently we have ```--secrets-path``` for ```compile``` which only searches for one directory for searching secrets, does this refer to adding more than one directory for that?

[2019-04-09 20:07] vaibhavk commented on #50
Wouldn't making ```--secret-search``` search more than one directory  be a solution to this? or do we need a separate command for that?

[2019-04-09 20:13] vaibhavk commented on #191
@ademariag can I work on this?

[2019-04-10 04:33] ademariag commented on #191
Hi, I'm not involved with this process. Please ask @uberspot

[2019-04-10 18:23] adrianchifor commented on #260
This should be done as part of dependency management (https://github.com/deepmind/kapitan/issues/91) and not in jsonnet. We don't want to block compile every time to download and load files.

[2019-04-10 18:35] adrianchifor commented on #91
@harsh-98 Jsonnet versions are already managed in `requirements.txt` and you can pin kapitan to a version by specifying `version: <kapitan version>` in `.kapitan`. We need a way to pull external dependencies like jsonnet/kadet libs and helm charts from git repos or http endpoints, bring them in and manage the versioning of them to know when to check/re-pull them.

[2019-04-10 18:36] #260 closed

[2019-04-10 18:42] adrianchifor commented on #191
@vaibhavk @michiboo See https://github.com/deepmind/kapitan/pull/190 for more details. We can start off with creating the equivalent of `kube.libjsonnet` in kadet (`kube.py`).

@uberspot Can we split this issue into 2 for k8s and terraform libs. For grafana there's already https://github.com/weaveworks/grafanalib.

[2019-04-10 18:51] caioaao commented on #143
why would we need to load values.yml into inventory? wouldn't it be easier to just make the new helm input type with options that translate to helm's cli options? For example, writing this:
[code]

would have the same effect, when compiling, as calling helm directly like so

[code]

[2019-04-10 21:17] ramaro commented on #143
Having values.yml loaded into the inventory will keep the experience uniform with the other input types. So you can use the inventory the same way, regardless of the input type.

[2019-04-10 22:20] caioaao commented on #143
But is it really necessary? I might be missing something, but I'm failing to see benefits of doing that when accounting for the amount of confusion it will create by cluttering inventory values with the values from external dependencies. It also doesn't make a lot of sense for me: kapitan should be in charge of configuration management and helm would just be another external tool, and having confi

[2019-04-10 23:03] caioaao commented on #91
And that's exactly what I'm arguing against. Kapitan should manage kapitan dependencies, not jsonnet/Kadet/helm/whatever is next. Each of those are external tools and, as such, should have external dependency managers. Kapitan will become impossible to maintain otherwise

[2019-04-11 09:34] ramaro commented on #91
@caioaao we're not talking about supporting dependency management for external tools.
This is for kapitan depedencies. For example, this would simplify importing a project from another repository into your current template repository as @nikkomega mentioned above.

[2019-04-11 13:32] uberspot opened #271 "Create terraform lib in python for Kadet"
Following #191 create a python lib for terraform's most common operations (in the same spirit of kube.libjsonnet) using the new kadet/python input type.

[2019-04-11 13:33] uberspot commented on #191
Updated description and created #271

[2019-04-11 15:31] pranavgupta1234 opened #272 "Update inventory validation schema to incorporate constraints on output_type"
Currently the schema for validation of inventory structure does not incorporate constraint on output_type, instead they are handled at compilation phase. I think if we incorporate this at schema level then the error can be shown much before and this can make Kapitan more responsive and fast.

I have the modified schema ready for this which will put constraint on output_type to be only yaml or json

[2019-04-12 14:55] adrianchifor commented on #91
We had https://github.com/deepmind/kapitan/issues/197 for allow custom scripts during compilation but now that https://github.com/deepmind/kapitan/pull/267 is merged, people can write and import custom jinja filters. Also, running scripts on compile would not be able to keep track of dependencies, like when to re-pull. Yes https://github.com/deepmind/kapitan/issues/143 is a subtask of this.

[2019-04-15 12:33] harsh-98 commented on #143
@uberspot @adrianchifor @ramaro  I have created python bindings for go-template.  It uses ctypes for bindings, here is the [link](https://github.com/harsh-98/go-template).

It doesn't expose go-template lib functions directly. I wrote a golang function which does the rendering, and takes string as arguments. Python wrapper calls this function, and either sends output to stdout or a file. It is far

[2019-04-15 17:10] ramaro commented on #143
@harsh-98 btw the helm templating library is [Sprig](https://github.com/Masterminds/sprig)

[2019-04-18 14:38] vaibhavk commented on #191
@adrianchifor while working on it, I'm not able to implement [Endpoint](https://github.com/deepmind/kapitan/blob/d9f2d82d8d286eb2792377321e6a40e3befa897d/examples/kubernetes/lib/kube.libjsonnet#L58), it has hidden functions inside it, Ip and Port, to implement this possible solutions I can think of are a single functions with kwargs, or a class based implementation, any suggestions?

[2019-04-18 15:05] uberspot commented on #191
A class in the same file might be preferred but it's up to you as long as code is readable and doesn't repeat too much

[2019-04-19 11:46] afoninsky opened #274 "brew install kapitan"
**Feature request**
Create package for the homebrew (https://brew.sh/)

[2019-04-19 11:47] harsh-98 commented on #274
Can I work on this?

[2019-04-19 11:50] afoninsky opened #275 "Ability to specify custom target path"
I’ve found that I need to share inventory targets and secrets between my customers keeping the rest of configuration in common maintainable repository. I can specify `--secrets-path` but it’s not possible to specify `--target-path` (`--inventory-path` does not fit as it includes classes too)

**Feature request**
(minimum) Add flag `--target-path[s?]` which points to custom directory with targets
(

[2019-04-23 13:31] yoshi-1224 commented on #131
Hi @uberspot

Sorry for a late start on this. After looking into this, I have a few things to confirm
1. we currently have the structure `${<ref_type>:<file_path>:<hash_digest>|<func_str>}` where hash_digest and func_str is optional. So we need a delimiter other than `:` to express sub-variables in a file (otherwise it will be considered hash digest). Do you have any suggestions as to which charac

[2019-04-24 11:56] captn3m0 commented on #188
Using no-cache doesn't work with `0.23.0`:

[code]

[code]

[2019-04-24 11:57] captn3m0 commented on #188
Forcing wheel install doesn't work either:

[code]

[2019-04-24 12:10] ifduyue commented on #188
@captn3m0 try this: ``pip install --no-cache  --only-binary kapitan kapitan``

[2019-04-25 13:35] uberspot opened #276 "Add ability to specify custom extension in inventory"
Following https://github.com/roboll/helmfile/issues/565
It makes sense to allow custom extensions for inventory files (yml or yaml) to make kapitan more flexible. :)

[2019-04-25 14:33] adrianchifor commented on #276
Inventory files are interpreted by reclass. Relevant TODO https://github.com/salt-formulas/reclass/blob/develop/doc/source/todo.rst#configurable-file-extension.

We could make an MR to update `reclass/storage/yaml_fs/__init__.py` and `reclass/storage/yaml_fs/directory.py` as it hardcodes `FILE_EXTENSION = '.yml'`.

[2019-04-25 15:05] captn3m0 commented on #188
It works! Thanks.

I'll file a PR for the docs.

[2019-04-25 15:06] rbounds commented on #235
The core of the issue is more about the repetitive nature of `kapitan.compile` values in each component class. `input_paths` and `output_paths` follow a common pattern so I was thinking it would be nice for the user to define the pattern and use a derived value but now knowing a bit more about kapitan I don't see how it would cleanly work.

[2019-04-25 15:58] ramaro commented on #131
Hey @yoshi-1224 thanks for picking this up!

1. I agree that `:` is not the best delimiter as is conflicts with the parameters delimiter. I suggest we use `.` here. That way it will be read as a single function parameter. @uberspot what do you think? My only worry is that it might not be that obvious as reclass delimiters are `:` but I think we have a good reason.

2. I think this is a deviation o

[2019-04-25 17:12] uberspot commented on #131
There is one small catch with this. The current behaviour of the first `|` operator is to run the functions segment, only if the secret doesn't exist. So we perhaps might have to rethink either the first operators' behaviour or symbol (maybe `||` would be good only for the first operator) and it would semantically act like a logical OR.
We might have to think of a way to transition to `||` on the

[2019-04-25 17:20] uberspot commented on #131
Maybe the original suggestion with something like:
`${<ref_type>:<file_path>@var1.x:<hash_digest>|<func_str>}`
would be easier to implement and less breaking?
RefController could be *lightly* extended in the `_eval_func_str` function that would handle the `@` operator and then return just the json object that that yaml path contains (aka value of var1.x).

[2019-04-25 17:30] uberspot opened #277 "Replace first `|` operator in secrets functions with `||`"
Currently as discussed in https://github.com/deepmind/kapitan/issues/131 the first `|` operator in secrets is semantically different than the rest of then.
Given `${<ref_type>:<file_path>:<hash_digest>|<func_str|func2|func3>}`
the first operator checks if the filepath exists, and only executes func_str/2/3 etc if that file doesn't exist. The other operators after that are always executed if the fi

[2019-04-25 18:58] m-d-johnson commented on #274
Great idea but I noted on the 'Python for Formula Authors' page that "Homebrew generally won't accept libraries that can be installed correctly with pip install foo"

Since kapitan seems to work with pip3 install --user kapitan, this may be difficult.

[2019-04-26 05:27] yoshi-1224 commented on #131
@ramaro @uberspot Thanks for your feedback!

I understand the design decision here. I guess it's a matter of whether to think of the whole yaml structure as one secret or to think of the yaml structure as a group of secrets.

Based on the discussion, can I clarify the following:
1. We will not write a secret file with sub-variables. The user may only manually create this yaml file and encrypt it,

[2019-04-26 06:40] frittentheke commented on #131
@yoshi-1224 thanks for digging into this!

As for 1) Do I understand you correctly that Kapitan will not "know" about the YAML structure in the secret (the fact that it contains sub-variables) but it sure does handle the encryption of such files to a secret, right? So my job as a user is to create a source-file in YAML format, but can then handle it with Kapitan just like other secrets?

As for 3)

[2019-04-26 09:32] yoshi-1224 commented on #131
Hi @frittentheke!

So this is the part I'm also not sure and need confirmation from @ramaro and @uberspot. To me, the idea sounds like the user manually does `kapitan secrets --write` to encrypt the yaml file, and later the sub-variables can be accessed in inventory just like any other secret.

I agree. There are two pain points:
1. Each secret maps to a file => too many files
2. Thus the encrypti

[2019-04-26 14:30] ramaro commented on #235
We could still support wildcards and leave it up to the user to define whatever is valid. For example, `directory/*/main.jsonnet` could still be possible and valid.

[2019-04-26 15:43] uberspot commented on #131
I think we tend to prefer the first option because it alleviates the original problem in this issue.

Yes, That's where we were going with it. :) We might as well follow the subvariables `...@var1.x` syntax and then `|yaml_path` is redundant.

Answered in 1) :+1:

Caching is not a huge problem tbh. You could just add pythons lru_cache to the function that returns the full secret with multiple vars

[2019-04-26 17:02] ramaro commented on #131
Caching can easily be done in `RefController` as long as key are sanely hashed, it is a dictionary by design after all.

[2019-04-27 12:20] sclausson opened #278 "Terraform example projects are missing rendered kubernetes.tf.json after compilation"
**kubernetes.tf.json not rendered for terraform example projects**
`examples/terraform/compiled/project2/terraform` and `examples/terraform/compiled/project3/terraform` are missing `kubernetes.tf.json`

**To Reproduce**
Steps to reproduce the behavior:
1. `cd examples/terraform`
2. `kapitan compile`

**Expected result**
[code]

**Actual result**
[code]

[2019-04-28 09:49] pranavgupta1234 commented on #276
I would like to take up this issue. Should I open an corresponding issue on https://github.com/salt-formulas/reclass ?

[2019-04-29 09:58] afoninsky commented on #274
As I understand, is correct for `libraries` only.

According to https://github.com/Homebrew/brew/blob/master/docs/Python-for-Formula-Authors.md
[code]

[2019-04-29 13:33] skinny opened #281 "Add the possibility to place compiled output in subdirectory"
disclaimer:  I'm still very new to the project so there might be a better/other way of doing this

When I have multiple components compiled into the `compiled` output directory there is

-  a chance of name collision if multiple components generate the same filename (e.g. service.yml)
-  a change of getting a big flat list of files of which it is hard to see which component they belong to. This ca

[2019-04-29 15:35] uberspot commented on #281
As mentioned on slack

[code]

[2019-04-29 15:36] #281 closed

[2019-04-29 16:09] harsh-98 commented on #281
@uberspot there is a slack channel, can we join it?

[2019-04-29 16:27] skinny commented on #281
It's the #kapitan channel on de Kubernetes slack (https://slack.k8s.io/)

[2019-04-30 09:38] uberspot commented on #278
Closing as fixed :+1:

[2019-04-30 09:38] #278 closed

[2019-04-30 09:39] uberspot commented on #276
Go for it. We could also make a PR in kapitan to update reclass if it's not breaking.

[2019-05-02 07:03] pranavgupta1234 commented on #276
Ref : https://github.com/salt-formulas/reclass/pull/85

[2019-05-04 10:13] pranavgupta1234 commented on #272
After giving a bit more thought about this issue I think just before invoking worker threads for doing compilation, inside load_target_inventory(...) where we are currently doing two step validation :
1) valid_target_obj : for validation of basic compile structure
2) validate_matching_target_name
Now we can add one more step which includes validation of our currently supported types or just modify

[2019-05-07 17:26] calvinmorrow commented on #105
I started looking into whether Vault KV support was something I could add, but currently a bit tripped up on how to handle the `RefBackend.__getitem__` method.

Kapitan's compile support seems opinionated on being able to know in advance whether a secret exists without knowing its (unencrypted) data.  In the case of Vault that isn't true unless you connect to Vault and check.  All the other backen

[2019-05-10 18:36] nikkomega commented on #277
Suggestion: with this change, could it also support `?{gkms:password|base64||randomstr|base64}` to eliminate the need for pre-base64-ing text values in Kapitan secrets? Actually that leads me to picture something like `?{(gkms:password||randomstr)|base64}`, but then we're getting into a mini expression language for these things that further diverges from the Jinja filter style syntax.

[2019-05-11 09:04] uberspot commented on #277
What is the use case the above might be needed?
Semantically, going towards a mini expression language might be an overkill for how Kapitan should handle secrets.
If you just want to base64 an existing secret before using it (e.g. in kubernetes secrets?) then you can do that already. Look at the password_sha256 here https://github.com/deepmind/kapitan/blob/master/examples/kubernetes/inventory/clas

[2019-05-11 16:45] nikkomega commented on #277
Just did a bit of experimenting; I actually misunderstood how the chain in that example works when I first saw it - I was missing the fact that the OR part generated a new secret if it didn't already exist. For this sort of example, where you have one secret derived from another, if you delete the backing secret for password, then recompile, password will get a new secret, but password_sha256 will

[2019-05-13 16:48] KidkArolis opened #290 "Feature request - copying files to compiled output"
When using some existing manifests (e.g. nginx, cert-crd, cert-manager), it would be nice to be able to drop those manifests as is into the kapitan components and then be able to copy to compiled output, e.g. manifest dir. This way, you can reuse them without modifying and still collocate with the rest of the configuration, including any templated scripts that could be used to deploy those manifes

[2019-05-13 21:30] adrianchifor commented on #290
You can do this with kadet:

[code]

[code]

[2019-05-14 11:44] ademariag commented on #142
ping ?

[2019-05-14 22:15] KidkArolis opened #293 "CI Instructions link is broken"
Not sure you're aware, but this link in README/docs doesn't take you anywhere.

<img width="370" alt="image" src="https://user-images.githubusercontent.com/324440/57735920-132ae780-769e-11e9-8195-831ce1ec721c.png">

[2019-05-15 00:41] adrianchifor commented on #293
Thank you for raising, this has been resolved.

[2019-05-15 00:41] #293 closed

[2019-05-16 18:57] xydinesh opened #294 "Reading values from environment variables"
**Describe the bug/feature**

I like to populate jsonnet template or yaml parameters using an environment variable before running `kapitan compile`.  We are using environment variable `CI_PIPELINE_ID` to create docker images and want to use this value with the image for deployment. For example,

[code]

Is there a way to do this with jsonnet templates ? Or do I have to generate a yaml with this ne

[2019-05-17 03:13] yoshi-1224 opened #295 "Docker test failing due to urllib version"
**Describe the bug/feature**
When I run `make test`, the following error occurs.

[code]

**To Reproduce**
Steps to reproduce the behavior:
Run `make test`

**Expected behavior**
Test should succeed without error.
 - `python --version`: 3.6.7
 - `pip3 --version`: 9.0.1
 - `Are you using pyenv or virtualenv?`: anaconda

**Additional context**
During the build, I get
[code]
I'm guessing this is the

[2019-05-17 09:18] uberspot commented on #295
Confirmed I get the same issue.

[2019-05-17 15:43] uberspot commented on #294
Related to https://github.com/deepmind/kapitan/issues/211
Implementation should be the same/similar for both issues.
It's not a fully recommended practice to have configuration as environment vs as code, but the functionality makes sense so this feature could be implemented. :)
An example implementation would parse the inventory after reclass and check for $strings.
Env vars would have to be in th

[2019-05-17 16:33] xydinesh commented on #294
Thanks ! If I can access `CI_PIPELINE_ID` environment variable to create correct docker image tag for deployment, I wouldn't worry about the syntax ({}). For now, I will use a python script to create new yaml file with this value.

[2019-05-21 17:10] ademariag opened #299 "Add kapitan:ci to cloud-builders-community"
I would like to propose to add the kapitan (ci) docker image to the community supported cloud-builders images:
https://github.com/GoogleCloudPlatform/cloud-builders-community

[2019-05-21 18:09] ramaro commented on #277
@nikkomega yes that I exactly how it works and it does suffer from that limitation. You'll need to delete derived secrets as they are only recreated if not existent.
This makes me think - is there space for a dependency feature here? E.g. secretB depends on secretA, therefore if secretA is recreated, secretB is as well.

[2019-05-21 18:29] ramaro commented on #294
The new Ref proposal https://github.com/deepmind/kapitan/pull/298 could solve this problem for you with the support for updating refs via the command line. You could write/update refs with the value of your envs vars.

[2019-05-21 22:14] ademariag commented on #299
Looks like this does not mean that the docker image will be added to the gcr.io/cloud-builders repository. At this point I think it can be disregarded, probably best for people to use our image.

[2019-05-22 05:57] yoshi-1224 commented on #295
Shall we just change the requirement for `requests` from `requests>=2.21.0` to `requests==2.21.0`? Just tested this fixes the issue.
What's causing this error is that `requests 2.22.0` released recently changed the requirement for `urllib` that conflicts with `botocore`.

[2019-05-22 14:20] #147 closed

[2019-05-22 14:20] #295 closed

[2019-05-22 14:47] yoshi-1224 commented on #91
@adrianchifor @uberspot
Just looking at #290, do you think it makes sense to support copy of local files via this feature?

[2019-05-22 15:42] yoshi-1224 commented on #91
@uberspot yeah, just as another input type `file` (or some other appropriate name) on top of `http[s]` and `git`.

[2019-05-22 15:52] uberspot commented on #91
File:// is defined in rfcs https://en.m.wikipedia.org/wiki/File_URI_scheme so it's a good contender for that. sounds good to me otherwise. :)

[2019-05-22 20:06] frittentheke opened #301 "How to indent (all lines of a) multiline string that is read from a secret?"
**Describe the bug/feature**
I required a multiline string, more specifically a RSA private key in PEM format, that is stored in a secret, to be rendered out. The actual use case the template is a yaml file where the certificate is to be placed as YAML scalar block (introduced with a " | "), but it is required  to be indented by 12 characters.

**To Reproduce**
Steps to reproduce the behavior:
1.

[2019-05-23 10:00] daminisatya commented on #105
Is someone working on this? I would like to investigate it.

@uberspot @ramaro

[2019-05-23 11:24] uberspot commented on #105
Not as far as I know. Feel free to work on it. :)

[2019-05-23 12:15] vaibhavk commented on #105
Hello @daminisatya I'm investigating about it too, would you mind I collaborate with you?

[2019-05-23 15:18] ademariag opened #302 "Add support for ed25519 keys"
I would like to suggest for `ed25519` keys alongside `rsa` keys.

This might also mean we might want to have

`key:rsa`
`key:ed25519`

instead of

`rsa`
`ed25519`

The counterparts would be:

`publickey:` which would preferably autodiscover the key type?

`|reveal:path/to/encrypted_private_key|publickey`

[2019-05-23 18:42] ramaro commented on #105
@calvinmorrow I'm sorry, but I somehow missed your update!
I think Vault could work out of the box with Kapitan's secret model if using the Transit Secrets Engine. Similar approaches have been developed for both `awskms` and `gkms`.

Supporting  scenarios other that this will likely require some minimal adjustments to Kapitan Secrets/Refs.

How are you planning to work on this? (also for @vaibhavk

[2019-05-23 20:39] uberspot commented on #301
Interesting catch. I'm not sure if this is because of how kapitan treats secrets when revealed or if it's a jinja2 issue, so some more questions:

1. When you encrypt/create the secret with kapitan, what command do you use exactly?
2. If you then try to reveal the secret in command line, is the result still multiline or a single line?

[2019-05-23 22:19] ramaro commented on #301
Unfortunately this is because of the way revealing with jinja2 (and other plain output types) works.

Kapitan will compile outputs with secret tags into hashed tags. Revealing for output types generally works by doing a simple search and replace of the compiled item

A jinja2 compilation works as follows:

compile -> jinja2 render -> [compiled items + hashed tags] -> reveal -> [compiled items]

On

[2019-05-24 15:43] ramaro commented on #301
@frittentheke you should reconsider rewriting your module in Jsonnet/Kadet, where you shouldn't have this limitation.

[2019-05-27 04:48] daminisatya commented on #274
@uberspot @ramaro

I would like to work on this issue. Can you please assign to it 😄 ✨

[2019-05-27 12:06] kapilgarg83 opened #303 "Kapitan Example"
Hi,

I am new to KAPITAN,

Example given in very advance.. Can anybody help by giving some simple and good example to call kube.libjsonnet file.
I want to make a deployment with PersistentVolume

Thanks

[2019-05-27 20:53] #272 closed

[2019-05-29 10:55] vaibhavk commented on #303
Hi @kapilgarg83, you can have a look at [ramaro's kapitan-examples](https://github.com/ramaro/kapitan-examplesl), or for `kube.libjsonnet` you can have a look at [this repository](https://github.com/richardfelkl/kapitans-fleet), it contains Kapitan templates for Kubernetes services.

[2019-05-29 13:24] kapilgarg83 commented on #303
Thanks a lot Vaibhav.

Thanks & Regards
Kapil Garg

On Wed, 29 May 2019, 16:25 Vaibhav Kaushik, <notifications@github.com>
wrote:

[2019-06-06 16:29] dsansot-ru opened #306 "A couple minor bugs with reporting in `kapitan init`"
**Describe the bug/feature**
There are a couple of issues with the output of `kapitan init`:

1. It assumes the target directory was empty so shows all files in the target directory as being populated by `init`. I ran into this by running `kapitan init` in an empty git repo and was curious why `kapitan` was writing files to my `.git` directory.
2. It doesn't actually show all the files it did popu

[2019-06-06 16:42] dsansot-ru commented on #306
BTW
[code]

[2019-06-07 16:39] gburiola commented on #142
I can see what the problem is, but I don't think kapitan should be doing anything about it.

If a user really specified `image:latest` then I don't think kapitan should magically replace that with `image:sha_of_latest_image_currently_available`

The answer to that depends on each user deployment process and should probably be solved in CI/CD pipelines or with the image building process and appropr

[2019-06-19 12:20] skinny opened #311 "[bug] Some strings are handled as booleans instead of strings"
**Describe the bug/feature**
I needed an environment variable with the value of `Y` in one of my kubernetes templates. When I tried to generate it based on the followin jsonnet snippet:

[code]

It gets rendered by kapitan as :

[code]

This yaml is not accepted by `kubectl`/Kubernetes because it expects a string value here and apparently the `Y` character (without quotes) is treated as a boolean

[2019-06-19 13:24] gburiola commented on #311
This is very likely caused by a bug in PyYaml
https://github.com/yaml/pyyaml/issues/247

It does the right thing for all variations listed on https://yaml.org/type/bool.html, expect for the single char `Y` or `N`

[code]

[2019-06-20 05:00] pranavgupta1234 commented on #276
@uberspot https://github.com/salt-formulas/reclass/pull/85 is merged now.

[2019-06-25 17:09] uberspot commented on #276
Wonderful! :) They haven't pushed a new release though so I doubt we can upgrade reclass at the moment unless we maintain our own mirror. :/
Also this regression still remains https://github.com/salt-formulas/reclass/issues/84

[2019-07-01 15:59] ademariag commented on #142
we could use https://get-kbld.io/ instead

[2019-07-01 21:16] ademariag opened #313 "Proposal: Add kapp and kbld to the kapitan-ci image"
Hello,

It would be great if we could add `kapp` and `kbld` from https://k14s.io/ as this would be great to have instead of relying on bash for diff and apply.

[2019-07-02 16:48] #313 closed

[2019-07-04 14:56] adrianchifor commented on #208
The only one remaining is more coverage for update targets, which we have for GPG but not KMS as we can't mock the updates from the APIs. Let's open another issue just for update targets for KMS.

[2019-07-04 14:56] #208 closed

[2019-07-04 15:00] #299 closed

[2019-07-10 16:04] Dauliac opened #319 "[bug] subvars reveal is not revealing"
**Describe the bug/feature**
Hello,
there is a problem with the new [subvars](https://github.com/deepmind/kapitan/pull/282) system. Indeed when you try to reveal subvars files. There is no error and no revealing.

**To Reproduce**
When you create a subvars file like that:
[code]
 And when you compile:
[code]

Nothing happen:
[code]

**Expected behavior**
The secret string `?{gpg:targets/staging/db

[2019-07-10 17:10] ramaro commented on #319
Are you using the v0.24.0-rc.0 realease version? This feature hasn't made it into an proper release yet.

[2019-07-11 07:37] Dauliac commented on #319
Oh yes, i'm on v0.23 but the version v0.24 is not on pip repository. So, I'll add my key in my gpg agent and forward it to the container.

[2019-07-11 08:32] Dauliac commented on #319
Oh yeah. I'm on 0.23. I didn't see that 0.24 is a pre-release version and that it is not yet on pip repository.
Thank's.

[2019-07-11 09:05] ramaro commented on #319
You can install using pip: `pip install --upgrade  kapitan==0.24.0rc0`

[2019-07-11 10:31] Dauliac commented on #319
Thank you !
I think that I can close my newbie issue

[2019-07-11 10:31] #319 closed

[2019-07-16 04:34] kapilgarg83 opened #321 "Conditional Output"
Hi,

I need to generate an output base on some conditions
for example:

My_deployment: if (server.env_name == "dev") then .airflowredisDeployment(server.deployment.name) else{ },

Problem is in case of else it generate blank yml file.. and which throw error when we deply on cluster using apply.sh.

my requirement if I did not want to generate output file in case of else condition.
Kindly suggest

[2019-07-16 04:36] #303 closed

[2019-07-17 11:37] uberspot commented on #321
Split what you are generating to a separate file.
Use a main.jsonnet file to import the separate files and output those via kapitan.
Put the if statement in that main.jsonnet file and basically only output the extra files if that statement is true.

[2019-07-17 11:38] uberspot commented on #321
Example of main.jsonnet:
[code]

[2019-07-17 11:38] #321 closed

[2019-07-23 08:56] frittentheke commented on #301
@ramaro  is there really no road to a fix to make the secret handling independent from the template language / engine used? Jinja2 is just so popular and really helps to get buy in when introducing templating with Kapitan to others :-)

[2019-07-24 12:57] frittentheke commented on #294
@uberspot the Docker image ID which is known just before Kapitan is run is exactly what brought me here. Being able to consume environment variables would be awesome ... just please make Kapitan require them if referenced and if not just fail  ...

[2019-07-24 13:49] ramaro commented on #301
@frittentheke I can only see this working when using `$ kapitan compile --reveal` where revealing is done in memory before rending any template. Would a solution like this work for you?

[2019-07-24 15:08] frittentheke commented on #301
@ramaro that sounds exactly like we would need and actually what I expected the intended workflow to be. We always run _kapitan compile --reveal_ in one shot when we actually require the secrets to be available (the result to by fully rendered).

To be clear: We never do a compile and then afterwards do _kapitan secrets --reveal_ on those half-rendered files.

[2019-07-25 11:51] kapilgarg83 opened #324 "Config Map"
Hi,

I need to generate config map using kapitan.
Its working fine with simple key : value pair type.

But now I am implementing prometheus for same I need to create config map file for server component.

i.e output like .

[code]

but same is not working.
When I pass this value to libjsonnet function config map and try to compile I got error message.
Can any body please suggest..??

As I have big

[2019-07-25 12:36] adrianchifor commented on #324
You can use jinja2 for this.

prometheus.yml.j2:
[code]

configmap.jsonnet:
[code]

prometheus.yml (inventory):
[code]

[2019-07-25 18:06] #324 closed

[2019-07-26 06:28] kapilgarg83 commented on #324
Thanks for quick response. I tried the above steps and below is the output:

[code]

any suggestion..?

[2019-07-26 11:42] adrianchifor commented on #324
That is valid yaml. It will be formatted properly once it's mounted in a pod.

[2019-07-29 05:36] kapilgarg83 opened #327 "Add Multiple container in single stateful set"
Hi,

I need to set multiple containers in single stateful set deployment.

[code]

but I am getting an error message.
Kindly suggest.

[2019-07-29 06:32] gburiola commented on #327
what error do you get ?

[2019-07-29 11:38] kapilgarg83 commented on #327
Thanks it is resolved now

[2019-07-29 11:38] #327 closed

[2019-07-30 06:43] yoshi-1224 commented on #198
Hi @vaibhavk.
How is your progress on this issue? Having noticed that you are also working on the integration with Vault, I thought I could help out for this. This is actually relevant to me as well in that I would like to contribute some guided examples on the new features too. Let me know your thoughts!

[2019-07-30 07:49] vaibhavk commented on #198
@yoshi-1224 I haven't made any progress on this issue yet. You can go ahead with your structure.
The vault feature is self documented in the KAP-6 so just have to add all that in the feature examples when it's merged.

[2019-07-30 12:23] ademariag opened #328 "Update Kapp to 0.10.0"
New release of Kapp was released

https://github.com/k14s/kapp/releases

[2019-07-30 15:20] #328 closed

[2019-07-30 18:27] uberspot commented on #301
After discussing a bit with @ramaro how about the following:

We create a jinja function to accommodate this edge case.
The function can be used with a secret (as part of the pipes) and it will reveal the secret, if the compile (--reveal) argument is set AND the parameter to the function contains a secret reference tag.
So it's as if Jinja is revealing the secret.
If the argument is not set, the f

[2019-07-31 16:13] uberspot commented on #324
Might I also suggest asking development questions in the slack channel #kapitan in https://kubernetes.slack.com/  ?
We're usually there too and respond.
Github issues are used primarily for bugs/feature development tracking for kapitan. :)

[2019-08-01 09:51] ramaro opened #330 "Allow configurable YAML literal and folded style for compiled files"
Allow compiling YAML with block and literal style for strings as per https://yaml.org/spec/1.2/spec.html#Block https://yaml.org/spec/1.2/spec.html#id2795688

Example code at https://www.programcreek.com/python/example/104725/yaml.add_representer

[2019-08-02 10:43] ramaro commented on #301
fixed in #332

[2019-08-02 10:43] #301 closed

[2019-08-02 15:26] ramaro opened #333 "KAP-5 - Implement plain ref type, revamp secrets into refs"
See [KAP-5](https://github.com/deepmind/kapitan/blob/master/docs/kap_proposals/kap_5_ref_types_redesign.md)

[2019-08-03 04:02] #131 closed

[2019-08-18 16:48] connaryscott opened #337 "docker-recommened with reclass ?"
**Describe the bug/feature**

Trying this:

https://kapitan.dev/#docker-recommended

[code]

It appears that python3 and reclass are not getting along:

[code]

python v2 does appear to install this module and reclass seems like an old project.

**To Reproduce**
Steps to reproduce the behavior:
1. https://kapitan.dev/#docker-recommended
2. See error above

**Expected behavior**
The kapitan help ou

[2019-08-18 21:18] ramaro commented on #337
@connaryscott thanks for reporting!

What version are you running? Can you ensure you pull the latest?
I can't reproduce it. It works for me:

[code]

[2019-08-19 16:22] connaryscott commented on #337
Interesting so it works "now".....

I just retried it, did nothing else to improve my situation.  Perhaps
the"latest" was transiently bad?

On Sun, Aug 18, 2019 at 2:18 PM Ricardo Amaro <notifications@github.com>
wrote:

[2019-08-19 16:23] ramaro commented on #337
Yep, sounds like something transient. Closing.

[2019-08-19 16:23] #337 closed

[2019-08-21 01:10] taharah opened #341 "Base64 encoded secrets are not revealed"
**Describe the bug/feature**
When using an encrypted value via Kapitan secrets to create a Kubernetes secret, if the encrypted value is nested within a document, then the output will include the base64 encoded reference to the secret.

**To Reproduce**
Steps to reproduce the behavior:
1. Encrypt a value with Kapitan secrets
2. Create a jsonnet manifest that base64 encodes a document that has the v

[2019-08-21 09:03] ramaro commented on #341
@taharah running base64 in jsonnet on a secret won't work because it will base64 the reference and not the content as you say.

I suggest you remove the base64 function call from jsonnet and create your secret instead with:
`$ kapitan secrets --write gpg:my/secret -f value.txt --base64`.

The `--base64` flag here will encode the content before encrypting it, which will have the desired effect.

I

[2019-08-22 08:56] uberspot opened #343 "Kapitan in GCloud Run"
Something we could do: https://twitter.com/ahmetb/status/1164214096033529856?s=09

[2019-08-22 14:31] taharah commented on #341
I have used the flag `--base64` previously for individual values that I am trying to protect; however, the issue is when I need to only protect a small portion of a configuration file, e.g., an API key. In this case, I would need to encrypt the entire file, which makes updating and maintaining the file far more difficult. Additionally, since Kapitan does not currently use envelope encryption, at l

[2019-08-22 15:26] uberspot commented on #341
How about templating the configuration file as well? Then you can just add the api key you mention as a secret reference in that template.

[2019-08-22 15:30] ramaro commented on #341
Sorry, can you share some snippets to help understand your problem clearly?

[2019-08-23 10:13] uberspot opened #345 "Add standalone binary to released files"
After https://github.com/deepmind/kapitan/pull/323 we have a process to generate a standalone binary of kapitan and it's built in travis too.
The produced binary lives in dist/
It would be great to also include that to the files released by travis on each release.
i.e. in .travis.yml we already do that with CHANGELOG.md
[code]

[2019-08-23 10:42] ramaro opened #346 "Add jsonschema function for jsonnet, jinja2 and kadet"
Allow jsonschema validation via a jsonnet/kadet function or jinja2 filter.

This would allow a developer to define and validate a schema in the component's code. One example is validating the inventory parameters for a component.

[2019-08-23 20:35] atrakic opened #350 "Using Kapitan to generate Terraform configuration"
**Describe the bug/feature**
There is no manifests directory as explained at examples/terraform/README.md so I cannot figure out how to use compiled file with TF.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to examples/terraform
2. `ls`
3. no manifests directory found

**Expected behavior**
$ See README.md as above.

**Screenshots**
If applicable, add screenshots to help explain your

[2019-08-23 20:43] atrakic opened #351 "Invalid choice "apply" flag"
**Describe the bug/feature**
According to https://kapitan.dev/#quickstart shows apply flag which is not found on 0.23.1

**To Reproduce**
Steps to reproduce the behavior:
1. do: $ kaptain
2. no apply flag on help either
3. doesnt match quickstart.md

**Expected behavior**
Apply flag should be found.

**Screenshots**
If applicable, add screenshots to help explain your problem/idea.

** If it's a bu

[2019-08-23 23:06] yoshi-1224 commented on #351
Hi,

Could you possibly be confused with kubectl apply?

[2019-08-25 10:49] ramaro commented on #351
There's no `apply` command in Kapitan :)

[2019-08-27 15:50] atrakic commented on #351
Yep my bad. Sorry for disturb. Closing from here.

[2019-08-27 15:50] #351 closed

[2019-08-27 15:56] ramaro commented on #350
Thanks for reporting @atrakic

By `manifests` we mean the files you will find in the `compiled/` directory. For example, for `project1`, you will see all the terraform "manifests" in `examples/terraform/compiled/project1`

[2019-08-27 16:24] uberspot commented on #350
Readme addressed here https://github.com/deepmind/kapitan/pull/352 :)
Thanks for reporting. If you see more feel free to open new issues/PRs.

[2019-08-27 16:24] #350 closed

[2019-08-27 17:22] yoshi-1224 commented on #345
@uberspot
I may be misunderstanding, but is this issue already addressed in #349?

[2019-08-27 19:48] uberspot commented on #345
Yes it is. :) i just made an issue to track that work. I think the binary is now on the releases page on github and every build works fine on travis so i'd consider this issue resolved for now. :)

[2019-08-27 19:48] #345 closed

[2019-08-28 16:12] cppforlife opened #354 "Add support for ytt for templating"
ytt (https://get-ytt.io; https://github.com/k14s/ytt) is a yaml templating tool that works directly with yaml structures unlike other common templating tools that work with text. by working with structures, ytt avoids problems with yaml escaping, indentation, etc.

it would be nice to allow kapitan to use ytt for templating configuration.

[2019-08-29 02:21] taharah commented on #341
For example, if I have something like the following in my inventory:

[code]

Then try to create a secret file from the entire configuration blob like shown below:

[code]

When you run `kapitan compile --reveal`, the output file has the string `${gpg:targets/${target_name}/opsgenie/api.key}` in the base64 encoded string and not the decrypted value.

[2019-08-29 15:39] uberspot commented on #354
Just to verify, when you say `allow kapitan to use ytt for templating configuration` do you mean be able to write the inventory in 'ytt' syntax? Or do you mean to be able to process templates written in ytt as a new kapitan input type (like jsonnet, jinja2, kadet, helm etc).

The first option would require writing something that would translate ytt templates in the inventory to re-class compatible

[2019-08-29 16:41] ramaro commented on #341
I'd recommend you use a ConfigMap in that case. It should work as it doesn't use `std.base64()`

[2019-09-02 10:18] ademariag opened #358 "Kapitan errors while compiling HELM charts"
Kapitan errors while compiling HELM charts

Steps to reproduce the behavior:
1. Configure a helm chart
2. run `kapitan compile`

[code]

**Expected behavior**
Chart gets generated

** Versions:**
[code]

[2019-09-02 10:58] ramaro commented on #358
@uberspot sounds like we missed the helm build.sh in CI?

[2019-09-02 11:01] ademariag commented on #358
@ramaro this is confirmed also in the mainstream kapitan image `deepmind/kapitan`

[2019-09-02 11:53] yoshi-1224 commented on #358
@ademariag @uberspot @ramaro
Confirmed the issue with the docker image `deepmind/kapitan`. This issue is raised by the following code:

[code]

I just also ran `docker run -it --entrypoint /bin/bash deepmind/kapitan` to check if the `.so` file exists, and it does.

[code]

So it might be something with the way file path is referred to inside docker image. Will keep you all posted.

[2019-09-02 12:17] uberspot commented on #358
If the .so file is included in the images then i imagine the system just can't find it in the default library paths. We can try to either move the .so file there or define LD_LIBRARY_PATH to also include the path with the .so file. More info https://unix.stackexchange.com/questions/168340/where-is-ld-library-path-how-do-i-set-the-ld-library-path-env-variable

[2019-09-02 12:35] yoshi-1224 commented on #358
@uberspot @ademariag @ramaro
Ok I looked at the actual exception thrown, and the issue is not whether the file exists but the following:

OSError: cannot load library '/kapitan/kapitan/inputs/helm/libtemplate.so': Error relocating /kapitan/kapitan/inputs/helm/libtemplate.so: : initial-exec TLS resolves to dynamic definition in /kapitan/kapitan/inputs/helm/libtemplate.so

Looking into how to resolv

[2019-09-02 15:06] yoshi-1224 commented on #358
@ademariag
After some research I believe that Docker issue may not be so trivial to solve (because we are using alpine linux) and I need a bit more time to explore. Some pages I referred to:
- https://bugs.freedesktop.org/show_bug.cgi?id=35268
- https://stackoverflow.com/questions/55642942/python-on-alpine-ctypes-loadlibrary-failed-with-oserror-error-relocating-cc
- https://github.com/void-linux/v

[2019-09-02 16:29] uberspot commented on #358
1) I agree on `Shall we make it a command for kapitan to build the helm binding? It might be inconvenient for the users who installed kapitan using pip (and therefore without Makefile) to locate and run build.sh?` It's definitely something that doesn't scale as a manual process.

2) What if we switch our docker images to just debian as a way to have linking/compiling work properly?
The Alpine imag

[2019-09-02 16:46] yoshi-1224 commented on #358
@uberspot

I think this is a good idea. As far as I've looked into this, there is some issue with building c-shared objects on alpine (more specifically, using musl libc) using go. People tend to use something like `debian:<version>-slim` images which have the more common glibc as the alternative.

@ramaro What do you think?

[2019-09-02 16:48] uberspot commented on #358
++ for the `-slim` version. Unless there's another requirement I'd recommend `xenial` which we also use in `.travis.yml`. That way we have the same everywhere and follow the same process to upgrade it all when the time comes.

[2019-09-02 16:54] ramaro commented on #358
Totally agree on switching our docker images from alpine into slim debian!

But I'm not completely certain we need a command to build the helm binding. For pip users, I think it's preferable to build and package both macOS and linux bindings with kapitan and write import logic to decide what to load on runtime.

[2019-09-02 17:19] yoshi-1224 commented on #358
@ramaro

If I understand correctly, does this mean we should ship the pre-built binaries such that `pip install kapitan` would automatically download them? And then by import logic you mean we confirm which platform kapitan is running on dynamically and then `dlopen` the appropriate binary for the platform?

[2019-09-02 17:24] ramaro commented on #358
@yoshi-1224 Yep! :100:

[2019-09-03 09:21] ademariag opened #360 "Normalise output from HELM charts"
Helm charts produce output that is inconsistent. For instance:

* `apiGroups: [""]` vs - `apiGroups: ['']`
*`verbs: ['get'` vs +    `verbs: ["get"`
* ordering and indentation.

**To Reproduce**
Compile a helm chart (istio for instance) and examine output.

**Expected behavior**
I expect the yaml to be consistent and well formatted

Discussing with @ramaro, we suggest to

this way:
* files will hav

[2019-09-03 09:24] ademariag opened #361 "Ability to fetch charts by name"
**Describe the bug/feature**
We are suggesting to enhance the current chart support to be able to discover and fetch the charts automatically by name.

The suggestion is to expand the [External Dependencies](https://kapitan.dev/external_dependencies/ ) type to include `helm`

[2019-09-03 16:36] ademariag opened #362 "Compilation fail with multiple ISTIO charts: fatal: morestack on g0"
**Describe the bug/feature**
When 2 charts are in the same target, kapitan fails with
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Add "istio" and "istio-init" helm charts
2. kapitan compile
3. See error

**Expected behavior**
Correct compilation

**stacktrace**
[stacktrace.log](https://github.com/deepmind/kapitan/files/3570493/stacktrace.log)

[2019-09-03 16:52] yoshi-1224 commented on #362
@ademariag Thanks for reporting.
My best guess for this is that `dlopen` is being called twice in a single thread (i.e. go runtime is being created twice), which causes unexpected behaviour.

Now that helm binding is no longer optional I will rewrite the code so that we instantiate the library inside a constructor or something which should solve the problem of `dlopen` being called multiple times.

[2019-09-05 11:18] ademariag commented on #354
From earlier conversation (I proposed/suggested the integration) I think what we want is to evaluate "to be able to process templates written in ytt as a new kapitan input type (like jsonnet, jinja2, kadet, helm etc).|

[2019-09-08 01:11] taharah commented on #341
@ramaro I opened a PR that resolves the issue since using a ConfigMap is not always possible especially when using operators that expect the configuration to be a secret.

[2019-09-08 01:19] taharah opened #365 "Allow metadata to be added to compile targets"
**Describe the feature**

Allow metadata to be added to each compile target. For instance, setting a "name" that could be used to get the top level key for the inventory data used in the component(s). It would allow components to be written in a way that is much more usable than what is possible currently.

Current state:

[code]

Adding a block similar to the following:

[code]

The metadata coul

[2019-09-09 14:58] uberspot commented on #365
How does this approach compare with a basic one like:
[code]
and then referencing it as:
`    "data_java_opts": inventory.parameters[parameters.metadata.name].roles.data.java_opts,` ?

The usual usage patterns we've seen with kapitan most of the time define a "common.yml" class which all targets inherit and it makes it easy to globally distribute any type of generic configuration, but still gives

[2019-09-09 16:02] taharah commented on #365
The main difference would that this would allow the metadata to be set per compile input rather than for the entire target. This would allow someone to reference the same component input(s), but end up compiling entirely different outputs by being able to flex the inventory data referenced via the metadata.

[2019-09-09 16:12] uberspot commented on #365
This is basically polymorphism but with the inventory. You can also do that per component by just inheriting a common class in all your component yml's in the inventory and overwrite it only when necessary in some targets.
We do something similar in our infrastructure to change args in k8s deployments per target, but also have a set of "base" global args that we ship to all targets.

I'm not again

[2019-09-09 21:10] taharah commented on #365
@uberspot I'm more than happy to take on the PR, if there is interest.

[2019-09-09 21:26] uberspot commented on #365
Feel free too. :) We're happy to review.

[2019-09-12 11:03] anirban1c opened #366 "Query: are there any plans to support Azure vaults ?"
love kapitan, any plans to support azure vaults ?

[2019-09-12 13:12] uberspot opened #367 "Multistage builds for our Docker images"
This issue is to track the work discussed with @taharah here: https://github.com/deepmind/kapitan/pull/359#discussion_r323043154

[2019-09-12 13:13] uberspot opened #368 "Add support for helm bindings in OSX"
As a followup from https://github.com/deepmind/kapitan/pull/359
This ticket is to track the work for OSX helm bindings + testing them on Travis.

cc @yoshi-1224

[2019-09-13 15:35] ramaro commented on #366
Thanks! No plans at the moment but we are always happy to help and review PRs 😄

[2019-09-14 08:20] anirban1c commented on #366
sure, will do

[2019-09-16 19:59] ademariag commented on #365
@taharah I proposed the same idea some time ago but with a slight variation.

[code]

the reason is that this would allow us to reuse components much more easily. Look at the following:

## shared config
[code]

## componentA
[code]

## componentB
[code]

[2019-09-16 20:42] ademariag opened #373 "Allow `kapitan refs --reveal` to descend subdirectories"
**Describe the bug/feature**
Especially with the new helm integration that produces manifests of subcharts in subdirectories, it makes sense to allow `kapitan refs --reveal` to descend subdirectories

[code]

**Additional context**
Add any other context about the problem here.

[2019-09-17 08:48] ademariag opened #374 "PermissionError: [Errno 13] Permission denied: 'Deployment.md'"
**Describe the bug/feature**
We are experiencing a problem with Cloud Build and the latest version of Kapitan (latest)

**To Reproduce**
Steps to reproduce the behavior:
1. Run a step in cloud build with Kapitan compile

**Expected behavior**
Build fails with `[Errno 13] Permission denied: 'Deployment.md'`

**Screenshots**

[code]

** If it's a bug (please complete the following information):**

[

[2019-09-17 08:53] ademariag commented on #374
BTW, using the image `deepmind/kapitan@sha256:a5a3f85e997b6f96afe1208ddfc05b587c45048da9a5dfdf6b456a3ba5d13f6f` of kapitan works fine.

[2019-09-17 10:04] uberspot commented on #374
It seems to crash when trying to delete the ./compiled folder `shutil.rmtree(compile_path)`  (?).
Might be because the user used inside the image is "kapitan" with a userid of 1000.

[2019-09-17 10:21] uberspot commented on #374
As a quick (and very dirty) solution we could just use root inside the docker images instead of the kapitan user. Otherwise anyone running the Image and mounting a kapitan project directory will have to make sure user "1000" has permissions on it which seems implausible. :/

[2019-09-17 10:25] uberspot commented on #365
I like the approach above too, would be good to define how you would add multiple files with the same metadata in one component as well.

[2019-09-17 11:59] uberspot commented on #374
I made https://github.com/deepmind/kapitan/pull/375 to add yq to the docker images.
Also @ademariag when I run kapitan with:
`docker run -it --rm -v $(pwd):/src:delegated -v ${HOME}/.config/gcloud:/.config/gcloud -u $(id -u)  kapitan_test compile -c -p 12` it works fine (?).
Do you test it with -u ? Does the user you run it as have a different `uid` than `1000` ?

[2019-09-17 16:09] ademariag commented on #374
locally it works fine, confirmed. the issue was only on cloud build

[2019-09-17 16:25] ramaro commented on #374
How about we turn this into a `kapitan_docker.sh` shell script which we'll
test and maintain?

On Tue, Sep 17, 2019 at 5:09 PM ademariag <notifications@github.com> wrote:

[2019-09-17 21:06] anirban1c commented on #366
would it be possible to get an invite for slack channel ? have been going through the code and have a few questions about what az vault features  to use/implement, ask some silly questions to check if I understood the concepts, thanks

[2019-09-17 22:23] ramaro commented on #366
@anirban1c does https://slack.k8s.io/ work for you?

[2019-09-18 08:29] anirban1c commented on #366
yes, thanks @ramaro , got it

[2019-09-20 08:51] maheswarasunil opened #378 "Optimization request of compile time for -t option"
**Describe the feature**
During kapitan compile for the specific target using option -t <target_name>, we are observing kapitan is processing the entire inventory and generating compiled output for that specific target. Due to this, compile time is very high even though we need to compile one target.

**To Reproduce**
Steps to reproduce the behavior:
1. Have a high number of target files in invent

[2019-09-25 12:58] ademariag commented on #373
Also related: `reveal` complains if if finds subdirectories. This IMHO makes deploying charts with subcharts not possible or very awkward.

[code]

[2019-09-28 05:26] prakashrj commented on #343
How can Kapitan deploy a service like GCloud run, when it can only generate compiled output?

[2019-10-01 14:10] ramaro opened #381 "Document .kapitan file"

[2019-10-02 11:26] uberspot commented on #343
The idea behind this issue is to have kapitan run as a binary/docker image in GCloud run so that people can use kapitan without installing it, via GCloud Run. :) It's not meant to deploy to gcloud run.

[2019-10-03 11:01] ademariag commented on #374
I will try this again with the -u flag.

[2019-10-04 14:22] #381 closed

[2019-10-04 14:25] #277 closed

[2019-10-04 15:23] uberspot commented on #367
Closing this as fixed by https://github.com/deepmind/kapitan/pull/370

[2019-10-04 15:23] #367 closed

[2019-10-04 15:23] uberspot commented on #346
Closing this as fixed by #380

[2019-10-04 15:23] #346 closed

[2019-10-04 15:24] uberspot commented on #333
This has been fixed in code, but needs to be announced in all kapitan channels when the feature reaches a non-rc build.

[2019-10-04 15:49] #143 closed

[2019-10-04 15:50] #194 closed

[2019-10-04 15:50] #198 closed

[2019-10-04 15:50] #237 closed

[2019-10-04 15:51] #145 closed

[2019-10-04 16:06] adrianchifor opened #387 "Label selectors for compilation"
## Problem
Currently we can only selectively compile targets using `-t` flag. In cases where we can't remember target names or there are just too many targets to input, we need an alternative.

## Proposal
Similar to how you can filter Kubernetes objects by label on kubectl with `-l` flag, I'm proposing an additional kapitan compile flag `--labels, -l`.

### Spec and usage
class-inherited-by-dev-t

[2019-10-04 20:47] #387 closed

[2019-10-07 19:28] nikkomega opened #390 "Reveal functionality for vaultkv refs"
**Describe the feature**
To use refs in k8s Secrets, the value currently has to be pre-base64ed. This is fine for the local-encrypted types like gkms, since the value is only being consume by Kapitan. For vaultkv, and presumably future remote types, the value (a db password, etc) might be shared with other systems which don't want the base64 version. Per discussion on the slack channel (https://ku

[2019-10-10 22:39] #373 closed

[2019-10-11 16:56] shauryagarg2006 opened #393 "JSONNET not resolving refs when using std function"
In inventory file I have attributes like:

[code]

Then in the components I am referring to them like this:

[code]

The value which the is getting pulled in the kapitan compile is base64 of `?{plain:data_base_name}` and not the value stored in the ref when using the std library function.

Is there any problem in my approach?

[2019-10-11 20:40] adrianchifor commented on #393
Compile doesn't reveal the value of a secret, it just fills in the reference with a hash. What you're looking for is something like:
[code]
The reveals the original value and auto-creates a new base64 encoded secret. Finally you just `kapitan refs --reveal <your compiled file with reference>`.

[2019-10-11 22:06] ramaro commented on #393
What @adrianchifor is correct. The only correction I'd make is that plain refs don't compile to hashed tags and will reveal by default.
Read more at https://github.com/deepmind/kapitan/blob/master/docs/kap_proposals/kap_5_ref_types_redesign.md

[2019-10-13 05:24] shauryagarg2006 commented on #393
Thanks for the quick response.

[2019-10-13 05:24] #393 closed

[2019-10-13 20:42] NargiT opened #394 "Katacoda use outdated version 0.16.11"
**Describe the bug/feature**
A clear and concise description of what the bug/feature request is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.katacoda.com/ademaria/scenarios/kapitan-intro'
2. Go until step 3
3. run `kapitan compile`
4. See error

**Expected behavior**
[code]

**Screenshots**

** If it's a bug (please complete the following information):**
 - `python --v

[2019-10-14 11:55] uberspot commented on #394
cc @ademariag  as the one who set up Katacoda (?).

[2019-10-14 15:00] jperville opened #395 "Cannot kapitan compile --cache when a compiled/.kapitan_cache file is present."
**Describe the bug/feature**

Cannot `kapitan compile --cache` when a `compiled/.kapitan_cache` file is present.

**To Reproduce**
Steps to reproduce the behavior:
1. cd to a sample kapitan project
2. ls -l compiled/.kapitan_cache  (should not list anything)
3. run `kapitan compile --cache .` (should run successfully the first time)
4. ls -l compiled/.kapitan_cache  (should list a kapitan_cache fi

[2019-10-14 16:33] adrianchifor commented on #395
Good spot, thanks for raising it. Made a PR which should fix this. We will release another RC later this week.

[2019-10-14 17:12] #395 closed

[2019-10-15 07:21] jperville commented on #395
Thank you for the quick fix @adrianchifor .

[2019-10-17 11:10] prakashrj commented on #91
Is there any reason, why this issue is still open after #304 is merged?

[2019-10-17 12:26] ramaro commented on #91
@prakashrj the only reason is that we forgot to close! Thanks :)

[2019-10-17 12:26] #91 closed

[2019-10-17 16:37] #360 closed

[2019-10-17 16:40] ramaro commented on #311
I'm closing this as this is not a bug and is indeed the expected behavior.

[2019-10-17 16:40] #311 closed

[2019-10-17 16:42] ramaro commented on #144
These have now been fixed https://github.com/google/go-jsonnet/issues/322 https://github.com/google/go-jsonnet/issues/323

[2019-10-17 19:22] ademariag commented on #374
I am still having issues with this. Am I the only one using kapitan with cloud build?

# cloudbuild.yml
[code]

# error
[code]

[2019-10-17 19:29] ademariag commented on #374
The issue goes away if I use the `deepmind/kapitan:0.25.0-ci` image.

[2019-10-18 13:10] ademariag commented on #374
Won't fix I guess. On cloud build the image to use is the CI one.

[2019-10-18 13:10] #374 closed

[2019-10-18 13:11] ademariag commented on #368
This would be very cool to have.... Any updates?

[2019-10-20 11:24] yoshi-1224 commented on #368
@uberspot Happy to help

[2019-10-20 11:25] uberspot commented on #368
Go for it :) happy to review any PRs when you have em.

[2019-10-21 08:45] jperville opened #402 "`kapitan init` generates a project which does not compile"
**Describe the bug/feature**

`kapitan init` generates a project which does not compile.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**

The generated project should run `kapitan compile` without exception.

** If it's a bug (please complete the following information):**
 - `python --version`: `Python 3.7.4`
 - `pip3 --version`: `pip 19.3.1 from /opt/venv/lib/pyt

[2019-10-21 09:56] alldroll commented on #144
I wonder, how you are going to use `go-jsonnet` shared library:
* use [ctypes](https://docs.python.org/3/library/ctypes.html)
* or use this [approach](https://github.com/google/jsonnet/blob/master/python/_jsonnet.c)

And if you are going to use the second approach, should we wait for `go-jsonnet` to add this code for `python` or we are going to add it in this repository?

[2019-10-21 11:11] drzero42 opened #404 "Jsonnet yaml_load of multi document file"
**Describe the bug/feature**
I am trying to use dependency handling to download yaml manifests and jsonnet to customize the output. The upstream yaml manifest is a multidoc file, as is fairly normal for kubernetes manifests, but I can not load that into my jsonnet script to customize the output. I get this error: `expected a single document in the stream`

**To Reproduce**
I'm using metallb as an

[2019-10-21 12:16] ramaro commented on #402
Thanks for reporting! This means that we also need test coverage for init..

[2019-10-21 12:24] uberspot commented on #402
Initial fix merged. Leaving this ticket open to also add compiling to the init tests.

[2019-10-21 12:33] ramaro commented on #404
Thanks for reporting @drzero42

We have 2 potential ways of fixing this:
1.  allow `kap.yaml_load()` to load a multidoc file - with the downside that it can return a list if the input is multidoc and string if not. (inconsistent)
1. implement `kap.yaml_load_stream()` which will always return a list should the input be multidoc or not. (preferable)

Thoughts?

[2019-10-21 13:17] drzero42 commented on #404
Number 2 is definitely best in my opinion. Then nothing already implemented will break.

[2019-10-21 14:34] yoshi-1224 commented on #368
@uberspot
So any suggestions as to what we should go with?

[2019-10-21 18:30] ramaro commented on #144
@alldroll ctypes should work justs fine - however the second approach is ideal, in which case, I agree that that it makes sense to add it to `go-jsonnet`

[2019-10-22 10:32] uberspot commented on #368
Yes, sorry I had to think a bit on the possible solutions.
Dynamically fetching the .so file when kapitan runs might be a bit "dodgy". It's very rare that templating tools download shared libraries dynamically from the internet. And that might be also hard to do in environments that have restricted access to the internet.

I'd like to try and keep the steps of building the .so library in travis (o

[2019-10-22 16:58] calvinmorrow commented on #341
Chiming in here with my own experiences -

With the new Helm input type this same issue comes up a bit more often.  Several Helm charts embed configuration into k8s secrets (I'm looking at Grafana Lab's Loki chart atm, but several more do as well).  They're often for generating a configuration file with settings and embedded S3 or GCS keys that all get slurped by a Golang process.

At the moment t

[2019-10-23 20:05] NargiT commented on #394
maybe I can help some how?

[2019-10-24 03:09] ademariag commented on #394
I have asked the katacoda team to update kapitan to the latest version

[2019-10-30 14:19] pbecotte commented on #358
I see that this ticket is closed, but so far as I can tell, the issue still exists in the Pypi package. I don't see a .so in the inputs/helm directory. Worse- I don't see any steps in your CI scripts or setup.py to actually generate the file. Finally- the build.sh script errors out with missing dependencies, and I know nothing about golang to take a shot at fixing that. Is this the intended behavi

[2019-10-30 14:20] ademariag commented on #358
are you on mac? or Linux

[2019-11-03 16:20] chaudyg commented on #404
Had a similar issue but with yaml_dump . Raised the following https://github.com/deepmind/kapitan/pull/415

[2019-11-05 14:51] ramaro commented on #404
@drzero42 this is now merged in master. Let me know if that works for you.

[2019-11-05 14:51] #404 closed

[2019-11-06 18:29] calvinmorrow opened #417 "Helm charts with subcharts may clobber output. Istio chart broken"
**Edit**
The bug below looks like it was fixed in a later Kapitan helm library release.  Subcharts are output to multiple directories when using the latest binary release, but with my older pip release exhibit the bug below.  Updating the pip release doesn't necessarily update the helm code so there's a possibility for some behavioral variation depending on when the helm support was compiled.

**D

[2019-11-06 18:39] #417 closed

[2019-11-06 18:44] ramaro commented on #417
@calvinmorrow not an issue?

[2019-11-06 19:48] calvinmorrow commented on #417
Not an issue anymore.  Looks like the behavior was due to me using an older version of the Kapitan helm lib which has since been fixed.

[2019-11-06 22:31] ramaro commented on #80
As of KAP-5, this is now `?{base64:file/path}`

[2019-11-08 13:09] narun4sk opened #418 "During the compilation step the target directory is removed and recreated"
**Describe the bug/feature**

It seems that during the compilation step the target directory is removed and recreated.

This causes troubles if trying to adapt Kapitan to compile `terraform` targets, as all the metadata of the terraform is deleted and therefore after each `kapitan compile` terraform must be reinitialised. In general no other files may be stored in the target directory (say lambda

[2019-11-08 15:35] ramaro commented on #418
Unfortunately I can't think of a way to avoid this. Kapitan must overwrite the compiled directory so that it can correctly diff. I'd advise you to keep terraform state somewhere else?

[2019-11-08 16:35] narun4sk commented on #418
I keep terraform state in the S3 bucket, so it's not a massive problem. However terraform creates the hidden directory `.terraform` not just for the state, during the `terraform init` step it downloads there the required provider/plugin binaries. Therefore after each `kapitan compile` those binaries must be downloaded again 😢 Also I would like to keep some other files inside the target directory.

[2019-11-09 03:59] narun4sk commented on #418
Would it be feasible to implement something like the post compilation hook? For instance when Kapitan would finish compiling the particular target it would copy/move the compiled files to the specified location.

[2019-11-09 14:07] gburiola commented on #418
Hey @narun4sk, we solve that problem by setting env variable `TF_DATA_DIR` to a location outside the compiled folder.

example:

[code]

More info on https://www.terraform.io/docs/commands/environment-variables.html#tf_data_dir

[2019-11-09 14:08] #418 closed

[2019-11-11 15:57] ramaro commented on #333
all done since 0.25

[2019-11-11 15:57] #333 closed

[2019-11-11 18:00] ramaro commented on #258
Fixed in #380 with jsonschema support

[2019-11-11 18:00] #258 closed

[2019-11-13 12:23] #235 closed

[2019-11-13 16:19] uberspot commented on #402
Test also added here https://github.com/deepmind/kapitan/pull/420
Closing issue :)

[2019-11-13 16:19] #402 closed

[2019-11-18 09:40] drzero42 commented on #404
@ramaro Sorry for the silence - I see this made it into 0.25.5 and it works perfectly for me! Thank you! :)

[2019-11-21 10:39] jperville commented on #341
As a workaround, it is possible to rewrite a secret base64-encoded `.data` into a plain text  `.stringData`.

For example with kube-prometheus, the alertmanager configuration is encoded in a secret, which contains different API keys (which we want to declare as secret in Kapitan inventory).

Here is how my `prometheus/main.jsonnet` file looks like:

[code]

[2019-11-21 11:03] gnarea opened #421 "Add support for calculating the hash of secret references"
**Describe the bug/feature**

We'd like to generate Kubernetes secrets whose names end with the hash of the secret data (e.g., `my-secret-05db3bfa`), so we can get different secret names as the data changes. However, we're unable to access the ciphertext or cleartext from Jsonnet, so we're unable to compute the hash of Kapitan secrets.

**To Reproduce**

Given an inventory like:

[code]

We're una

[2019-11-22 09:38] #302 closed

[2019-11-26 14:34] uberspot commented on #290
This can now be done with the `copy` input_type added in https://github.com/deepmind/kapitan/pull/423
Closing as fixed :)

[2019-11-26 14:34] #290 closed

[2019-11-27 04:44] ioben opened #425 "Multidocument yaml in Helm chart with whitespace trimming can break templating"
**Describe the bug/feature**
This is a strange one. The following Helm chart will break Kapitan, but renders correctly in Helm. I think it'd be fair to say the Yaml is malformed in the Helm chart (after the go templating is applied), but it does render correctly in Helm, and fails in Kapitan.

**To Reproduce**
[code]

**Expected behavior**
I'd expect them to output semantically equivalent resource

[2019-12-01 09:43] Cyanopus commented on #271
@uberspot I was reading over and interested in how would this look like and the use case. Can you share some info?

[2019-12-02 23:07] NicolasRouquette opened #430 "kapitan compile should produce error messages with locations to kapitan sources"
**Describe the bug/feature**

Since `kapitan compile` is intended to behave like a programming language compiler, it makes sense to expect that kapitan errors should refer to specific locations in the kapitan sources.

Currently, (0.26.0-rc.1), it seems that kapitan errors provide a description of the problem but there is no information about the location of the error in the kapitan sources.

I st

[2019-12-03 10:47] uberspot commented on #271
The idea behind it was to create a jsonnet library with most common resources that could be created with terraform but abstracted in a function. So that people can re-use them with ease.
But after thinking about this for a while, it might just make more sense to add more jsonnet terraform examples instead since that's what people would use.
I can add some example templates for google cloud resourc

[2019-12-10 01:20] tprobinson opened #431 "Jsonnet input type cannot output a string"
**Describe the bug/feature**
If a jsonnet component outputs a string instead of an object, Kapitan will crash during compilation:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Set up a test Kapitan project as follows:

`inventory/targets/test.yml`
[code]

`inventory/classes/test.yml`
[code]

`components/test.jsonnet`
[code]

2. Run `kapitan compile`

**Expected behavior**
The outpu

[2019-12-10 10:42] uberspot commented on #431
Fixed on master. Added a test + a small doc update for it as well.
We'll do another rc version within the week. :)
Closing this for now.

[2019-12-10 10:42] #431 closed

[2019-12-14 00:24] tprobinson opened #434 "Output as a string does not interpolate secrets"
**Describe the bug/feature**
Using 0.26.0, when a jsonnet component outputs a string and not an object, secret references remain uninterpolated unless `kapitan reveal` is run.

**To Reproduce**
Steps to reproduce the behavior:
1. Create files in a new Kapitan project as seen in https://github.com/tprobinson/kapitan-issue-demonstration

2. Run `kapitan compile`.

**Expected behavior**
Secrets shoul

[2019-12-16 21:45] ademariag commented on #394
I have asked multiple time the Katacoda team but I have not received an answer.
They've recently been acquired so I think I will ask again soon.

Meanwhile I am considering moving to use https://ssh.cloud.google.com/cloudshell/editor which offers similar features, and would allow people to test against their own GCP cloud environment

[2019-12-16 21:57] ademariag opened #435 "Kapitan Secrets Controller"
**Describe the feature**
I would like to suggest to create a Controller that is capable of applying Kapitan secrets to a Kubernetes namespace.

The Controller could mimic/reimplement https://github.com/bitnami-labs/sealed-secrets (or even just be a patch to their already excellent solution)

# Expected behaviour
A user
* deploys the Kapitan Secrets Controller to a cluster
* Associates it with a se

[2019-12-17 10:59] ramaro commented on #434
@tprobinson thanks for reporting. Currently, refs/secrets are designed to be used _only_ from the inventory. Manipulation of these objects via an input will result in undefined behavior as you are describing.
I think the best way to improve this is to implement ref aware handling functions for input types.

[2019-12-17 11:02] ramaro commented on #435
@ademariag thanks for the suggestion - does this mean that the controller needs access to the encrypted secrets in a repo?

[2019-12-17 11:16] ramaro commented on #434
@tprobinson and now that I had a better second look at this, you're right, this should not be happening. Thanks again, will review.

[2019-12-17 13:15] ademariag commented on #435
Yes I think the secret data should be available, perhaps inlined/embedded as you suggested

[2019-12-18 17:33] uberspot opened #436 "Remote Inventory Federation"
New Feature:
Inventory segments can be fetched from remote locations (https/git) allowing users to combine different inventories from different sources.

Fetching of the inventory has to happen before compiling the inventory with reclass as a separate/initial step.
What is still to be defined is how users would declare their remote inventories  (maybe in .kapitan ?)  and where those files will be

[2019-12-18 17:36] uberspot opened #437 "Modularise Kapitan"
Currently kapitan is packaged in pypi (or as a binary) along with all its dependencies.
Adding more input types or secret backends means adding extra dependencies which might not be useful for certain users.
This issue is to track modularisation of kapitan to a set of core dependencies (cryptography,pyyaml,jsonschema etc) and then extra modules (e.g. boto3,google-api-python-client) that can be loa

[2019-12-20 14:34] ramaro commented on #434
@tprobinson this is fixed, let me know if that works for you as well. Thank you

[2019-12-20 14:34] #434 closed

[2019-12-20 16:12] ademariag opened #440 "Upgrade gcloud to latest version"
**Describe the bug/feature**
The google-cloud-sdk available in the ci image is not the latest.

Proposal is to upgrade it to the latest Cloud SDK version (274.0.0)

[2019-12-20 17:32] #440 closed

[2019-12-24 13:23] ademariag opened #443 "Kapitan error when prune: false"
**Describe the bug/feature**
When I go from prune: true to prune: false, compilation suddenly starts failing

**To Reproduce**
Steps to reproduce the behavior:
1. Remove `.kapitan` file or turn `compile: prune: false`
2. Kapitan compile
3. Observe failure

**Expected behavior**
Compilation succeedes

**Screenshots**

[code]

** If it's a bug (please complete the following information):**
using doc

[2019-12-24 13:27] ademariag commented on #443
I have managed to identify the target which is failing.
I do not see anything obviously wrong with it.

[2019-12-24 13:35] ademariag opened #444 "SUGGESTION: Allow prune per compile output"
**Describe the bug/feature**
Sometimes global prune on/off is not enough.

I propose to add the optional "prune" option to a compile configuration:

[code]

**Additional context**
In particular, to give a use case, I compile terraform together with spinnaker and kubernetes, and as for this "bug" https://github.com/terraform-providers/terraform-provider-google/issues/4431 terraform sometimes needs

[2020-01-02 14:36] uberspot opened #445 "Kadet inputs with plain output type and dict objects fail to compile"
**Describe the bug/feature**
When Kadet is used in conjunction with `plain` output type it fails to write the output to a file.
The issue is in CompiledFile.write as it assumes that data passed to it is strings but that's not always the case (especially if in Kadet where you can define the exact outputted object as a python dictionary).

Solution: Convert data explicitly to str in write() (PR comi

[2020-01-02 15:53] ramaro commented on #445
`output_path` should be set regardless of this problem, I think? Setting subdirs in the filenames seems to me to he the problem, as it not supported - maybe leave this up to the user?  Also, might be worth leaving `plain` alone and perhaps create a new `bytes` output?

[2020-01-02 16:53] uberspot commented on #445
Correct, it's an edge case/hack. But that is not the source causing this issue.

Correct as well, but I'd argue Kadet is one of the more versatile input types we have now and it would be a shame to not support this behavior in only one output type.

How come? I'd imagine `plain` should output plain strings anyway. And that conversion is not done anywhere explicitly.
A bytes output would also be a

[2020-01-03 18:39] tprobinson commented on #434
I'm trying to test this, but I can't seem to compile the binary myself. I'm not much of a Python dev so I'm probably doing something wrong, but running via the Dockerfile build gets me this:
[code]

Adding `reclass` to the requirements.txt gets this:
[code]

[2020-01-06 14:54] uberspot commented on #445
Closing this as the initial bug of directories not being created has been fixed in #446.
The conversion to str() can be done on the Kadet side as well so this is out of scope. :)

[2020-01-06 14:54] #445 closed

[2020-01-06 17:41] #271 closed

[2020-01-16 15:35] #444 closed

[2020-01-16 18:18] uberspot commented on #443
I couldn't replicate this locally with a couple of kapitan projects.
I tried setting `compile: prune: false` in `.kapitan` and used version `0.25.4`.
Version 0.26.0 also worked.
Can you provide more details for replication?

[2020-01-23 16:50] ademariag opened #454 "Show target directory when compiling"
**Describe the feature**
Print full path to target on compile output

**To Reproduce**
Steps to reproduce the behavior:
1. Organise targets into subdirectories
2. Run `kapitan compile`
[code]

instead it would be best if the directory structure was preserved

[code]

[2020-02-11 17:10] Korusuke commented on #274
@afoninsky We can even create a [MacPorts](https://www.macports.org/) package alongside homebrew package giving Mac Users more options.

@daminisatya I worked on a MacPorts project in last year's GSoC, so if you need any help in creating a MacPorts package, please feel free to contact me.

[2020-02-13 10:22] ademariag opened #458 "compile --fetch does not update files"
**Describe the bug/feature**
When running `kapitan compile --fetch`, existing files are not updated if the remote files have changed

**To Reproduce**
Steps to reproduce the behavior:
1. Create a dependencies section
[code]
2. run `kapitan compile --fetch`
3. If the file is already present locally, it will be skipped with
[code]

**Expected behavior**
If the remote file has changed, I expect the `

[2020-02-23 14:35] omkarprabhu-98 opened #462 "Change compile documentation for jinja"
**Describe the bug**
[Kapitan compile](https://kapitan.dev/compile/) documentation mentions `jinja` as a possible value in the `input_type` (screenshot 1). However, this gives an error on the compilation as shown in screenshot 2 below

**To Reproduce**
Steps to reproduce the behavior:
1. Use `jinja` as the `input_type`  in a target
2. Compile using `docker run -it --rm -v $(pwd):/src:delegated dee

[2020-02-23 16:44] ramaro commented on #462
Thanks for reporting. Can you please share the snippet of code that caused that issue? Also the output of  `$ kapitan --version`

[2020-02-23 17:02] omkarprabhu-98 commented on #462
1) Code snippet
![code](https://user-images.githubusercontent.com/23053768/75116176-a6606700-568b-11ea-86b2-371007b6ad1e.PNG)

2) Kapitan version
`$ docker run -it --rm -v $(pwd):/src:delegated deepmind/kapitan --version` => 0.27.0
![version width="40%"](https://user-images.githubusercontent.com/23053768/75116218-0820d100-568c-11ea-82ad-6e9424135e54.PNG)

Is this fine?

[2020-02-23 19:36] whathebug commented on #274
Hello! Is this a GSoC task? If it is, I would like to work on it.

[2020-02-24 15:29] uberspot commented on #274
It's not a task by itself but it's part of the second idea mentioned here: https://github.com/deepmind/kapitan/blob/master/IDEAS.md#2-follow-up-on-helm-osx-bindings
All proposals should be submitted via the official gsoc process before assigning any project to individuals. :)

[2020-02-24 22:51] adrianchifor commented on #129
I tried again and couldn't replicate this on macOS nor Linux, kapitan behaves as expected and waits for input from gpg pinentry. Will close for now. If anyone encounters this please re-open and give an example.

[2020-02-24 22:51] #129 closed

[2020-02-24 22:55] #151 closed

[2020-02-24 23:04] adrianchifor commented on #195
Ksonnet/Jsonnet libraries can just be imported using [jsonnet-bundler](https://github.com/jsonnet-bundler/jsonnet-bundler) and add `--search-paths vendor` to `kapitan compile` to make the libs visible.

[2020-02-24 23:04] #195 closed

[2020-02-24 23:19] adrianchifor commented on #276
For visibility, we are waiting for https://github.com/salt-formulas/reclass/pull/87 to be merged and for reclass to make a new release.

[2020-02-25 00:04] adrianchifor commented on #378
I've done a quick investigation on why this might happen and the culprit seems to be https://github.com/deepmind/kapitan/blob/v0.27.0/kapitan/resources.py#L234, called first at https://github.com/deepmind/kapitan/blob/v0.27.0/kapitan/targets.py#L312. Calls of `inventory_reclass()` are cached as it's a pretty expensive operation (~2s for 100 targets), so we've already done some optimisation on our

[2020-02-25 09:19] #462 closed

[2020-02-25 09:21] #454 closed

[2020-02-26 15:45] adrianchifor commented on #458
Had a quick discussion with @ramaro and we think `--fetch` should always re-pull the dependencies. Checking remote content + hash is essentially the same as re-pulling. What do you think @ademariag ?

[2020-02-26 16:40] ademariag commented on #458
@adrianchifor agreed thank you. I am still of the idea that it would be nice to have a flag in case someone does not want that behaviour for a specific download.

Something like `do_not_replace=false` or similar.

but it is not essential IMHO

[2020-02-26 16:46] #458 closed

[2020-02-29 13:21] isaeef commented on #436
@uberspot  is this still open

[2020-02-29 13:28] isaeef opened #466 "Unable to setup development environment on Windows 10"
I m facing issue while setting up kapitan on windows 10 machine . here the error details.
[code]

[2020-02-29 15:44] adrianchifor commented on #466
This is an issue with jsonnet on Win 10, please see https://github.com/google/jsonnet/issues/476

[2020-02-29 15:44] #466 closed

[2020-02-29 15:47] adrianchifor commented on #436
Yes, this is a task dedicated to Google Summer of Code participants.

[2020-02-29 17:47] viveksonar commented on #343
So the main idea will be to create a dockerfile and build a container image and directly deploy it in cloud shell! Right?

[2020-02-29 19:20] #343 closed

[2020-02-29 19:22] uberspot commented on #343
Sorry i forgot to close this a while ago.

[2020-03-04 21:46] ademariag opened #467 "Add support for GCP Secret Manager"
**Describe the bug/feature**
Add support for GCP Secret Manager (https://cloud.google.com/secret-manager/)

While we support `gkms` when storing local secrets/references, it would be useful to also support GCP Secret Manager.

With Secret Manager (SM) Kapitan would be able to share secrets with scripts/processes that do not have access to the Kapitan repository.

Example use case: Allow a script i

[2020-03-05 12:10] zoek1 commented on #294
hey @uberspot could i work on this as first good issue?

[2020-03-05 14:46] uberspot commented on #294
Hello, :) you can always just start work on an issue without confirmation. We don't strictly assign open issues to people.

[2020-03-09 07:04] supra08 commented on #275
@uberspot I would like to work on this issue.

[2020-03-11 07:44] zoek1 commented on #294
Thanks, i would like participate on the GSoC with the Kapitan so i want tackle this to familiarize. :smiley:

[2020-03-12 21:42] AlphaRoy14 opened #469 "Display the file names which caused error in compilation"
**Describe the feature**
When the files in the inventory is not structured properly, `kapitan compile` outputs the message
`Invalid inventory structure` followed by an error message. The error message, however, doesn't contain the actual path or name of the wrongly structured inventory file. Displaying the name of the file will help save a lot of time searching for it.

**To Reproduce**
Steps to r

[2020-03-12 22:05] AlphaRoy14 commented on #469
#430 is a similar issue.

[2020-03-16 14:45] mrsupiri opened #470 "Create an ARU package for Kapitan"
**Feature request**

I know we can install Kapitan using simple `pip install` but the problem with pip is, it won't notify you when a new version of Kapitan is available, we have to do this manually. As I can see you guys are pushing new releases frequently most of the people won't even bother to come to GitHub and check if there is a new release available.

If we have an ARU package, people who u

[2020-03-17 19:53] uberspot commented on #469
Closing as duplicates exist and it's better to track them all in one place. :)

[2020-03-17 19:53] #469 closed

[2020-03-17 22:05] AlphaRoy14 commented on #437
Hi! Just looking for a bit of clarification. Along with modularization into main module and extra modules that is packages in pypi, are we also interested in something like lazy loading of dependencies?

[2020-03-19 18:00] mrsupiri commented on #437
In my opinion, it's better to ship these different kinds of secret management systems as standalone plugins, So if someone has their own way of storing secrets they can just write a custom plugin and load it without interfering with Kapitan's core functionality.

[2020-03-20 13:37] adrianchifor commented on #437
The idea here is simple:
[code]
Will just install core kapitan functionality (reclass inventory, jinja2/jsonnet/kadet templates, only ref secrets).
[code]
Core functionality + `google-api-python-client` via [pypi extras](https://setuptools.readthedocs.io/en/latest/setuptools.html#declaring-extras-optional-features-with-their-own-dependencies), in case you need to use secrets backed by Google KMS.

[2020-03-22 14:49] AlphaRoy14 opened #471 "Updating kapitan.dev/secrets/"
**Describe the bug/feature**

Hi! The [kapitan.dev/secrets/](https://kapitan.dev/secrets/) page promotes the use of `kapitan secrets` instead of `kapitan refs` as  shown in [docs/secrets.md](https://github.com/deepmind/kapitan/blob/master/docs/secrets.md). I believe to fix it `mkdocs gh-deploy -b gh-pages` should suffice.

[2020-03-22 16:43] adrianchifor commented on #471
Good point, just pushed https://github.com/deepmind/kapitan/commit/196ce5d1e865bba94e757942b9e94fe7ec06c8a4 and kapitan.dev should now be up-to-date. Thanks!

[2020-03-22 16:43] #471 closed

[2020-03-24 17:48] AlphaRoy14 commented on #294
Hi! I was wondering if this issue still needs solving. As mentioned above by @ramaro, we can refer to environment variables by writing a ref. Eg. `echo $ENV_VAR | kapitan refs --write plain:my/ENV_VAR -f -` and then refer to it from the targets. Eg. `image: ?{plain:my/ENV_VAR}`. Maybe we can update the docs instead and explain how to use environment variables in targets?

[2020-03-24 17:58] uberspot commented on #294
A doc update here would probably be more appropriate. Refs are equally flexible and would cover most users.

[2020-03-24 18:21] ramaro commented on #294
Agree!

On Tue, Mar 24, 2020 at 5:59 PM Paul S <notifications@github.com> wrote:

[2020-03-31 12:43] pvanderlinden opened #473 "Kapitan jinja2 renderer doesn't support the search path"
Kapitan jinja2 renderer doesn't support the search path. The FileSystemLoader passed into the jinja2 env should contain the search path passed to the commandline (or default).

This way you could use other templates to include / use as base template / load macro's from. It also means kapitan doesn't have to construct a new jinja2 environment for every file it renders.

[2020-03-31 16:52] pvanderlinden commented on #473
The idea was to have some in between step where I convert things from Helm charts, and identify common patterns at the same time. Example:

templates/common.yaml
[code]

components/test_component/service.yaml
[code]

[2020-04-03 21:11] #473 closed

[2020-04-08 16:18] joulaud commented on #144
Hello, is there any progress on this front. The optimisations of go-jsonnet are badly needed in some contexts.

[2020-04-08 16:24] ramaro commented on #144
Progress is being made and some bugs and issues are being found along the
way. Unfortunately at the moment I don't have a fully working version of it
yet.

On Wed, Apr 8, 2020 at 5:18 PM francoisj <notifications@github.com> wrote:

[2020-04-08 16:31] joulaud commented on #144
if needed we can help. If you have some work in progress somewhere we can take a look at it.

[2020-04-10 10:56] madonius opened #476 "Dead CI dockerfile link"
**Describe the bug/feature**
The website's link to the CI-Dockerfile returns a 404

**To Reproduce**
1. Go to https://kapitan.dev/CI/
2. Klick on ([Dockerfile](https://kapitan.dev/CI/))

**Expected behavior**
The correct link to the CI-Dockerfile appears

[2020-04-10 11:21] madonius opened #478 "More dead links"
**Describe the bug/feature**
Additionally to #476 there are other dead links

**To Reproduce**
Run a dead link checker over the website https://kapitan.dev

**Expected behavior**
No dead links

Dead links:
- CI-Dockerfile (See #476)
- Dockerfile https://kapitan.dev/pyenv-scl/
- requirements https://kapitan.dev/pyenv-scl/

[2020-04-10 11:53] #478 closed

[2020-04-10 11:54] #476 closed

[2020-04-18 15:16] narun4sk opened #481 "Referring to the values within the parameters by specifying upper levels"
**Describe the feature**

I would like to refer to the values within the parameters tree using syntax similar to:
- `${.:key_name}` - looks up `key_name` in the local context
- `${..:key_name}` - looks up `key_name` in the context one level up
- etc...

**To Reproduce**

The example in the [docs](https://kapitan.dev/inventory/#example-elasticsearch) showcases `${obj_name:key_name}` usage, however

[2020-04-18 16:33] #481 closed

[2020-04-19 18:28] th31nitiate opened #483 "Add terraform example documentation"
**Describe the bug/feature**
Update the Terraform example in the kapitan documentation

**To Reproduce**
There is a kubernete's example on the documentation but there is no terraform example.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![docs-view](https://user-images.githubusercontent.com/14749635/79696213-3a594400-8273-11ea-831a-fcc61c5

[2020-04-20 21:45] ademariag commented on #443
@uberspot hitting this again. @ramaro FYI.

To replicate, just create a jsonnet file with:
[code]

A more complete example is
[code]

The condition happens happens often if the object one is looping over is missing. i.e.
[code]
In this case, if no ingresses are defined, it will crash.

Note that adding a `+ { fixme: {} }` is currently the only way to work around the error.

The correct behaviour w

[2020-04-21 13:17] #443 closed

[2020-04-21 13:29] adrianchifor commented on #443
@ademariag This should be fixed in 0.27.2, once it's released by CI. Please re-open the issue if it's still happening after.

[2020-04-21 15:47] #255 closed

[2020-04-21 16:11] ademariag opened #489 "Pruning empty files inconsistencies"
**Describe the bug/feature**

NOTE: Offline chat with team decided that the above behaviour is acceptable. Reporting for posterity.

With the `jsonnet` output, so we have 2 ways to generate files: let’s call them ***single file*** and ***multi file*** mode.

[relevant code](https://github.com/deepmind/kapitan/blob/master/kapitan/inputs/jsonnet.py#L56)

### single file

a jsonnet file called `main.

[2020-04-21 16:20] ademariag opened #490 "Pruning file inconsistency"
**Describe the bug/feature**

With the `jsonnet` output, so we have 2 ways to generate files: let’s call them ***single file*** and ***multi file*** mode.

[relevant code](https://github.com/deepmind/kapitan/blob/master/kapitan/inputs/jsonnet.py#L56)

### single file

a jsonnet file called `main.jsonnet` that produces a content that "is not a json dict" will add that content in a file `main.yml`

[2020-04-21 17:53] ademariag opened #491 "Prune empty file behaviour"
**Describe the bug/feature**

NOTE: Offline chat with team decided that the above behaviour is acceptable. Reporting for posterity.

With the `jsonnet` output, so we have 2 ways to generate files: let’s call them ***single file*** and ***multi file*** mode.

[relevant code](https://github.com/deepmind/kapitan/blob/master/kapitan/inputs/jsonnet.py#L56)

### single file

a jsonnet file called `main.

[2020-04-21 18:05] ademariag commented on #489
Duplicated due to Github outage

[2020-04-21 18:05] #489 closed

[2020-04-21 18:05] ademariag commented on #490
Duplicated due to Github outage

[2020-04-21 18:05] #490 closed

[2020-04-21 18:31] th31nitiate commented on #491
I had a look at this locally. When prune is set to true the following function is called `prune_empty()`.
This is what then performs pruning by updating the output object to a null value.

It is quite difficult to understand because the  function does some recursion to check the dict. I believe the null object or empty dict returned  by `prune_empty()` prevents `if not isinstance(output_obj, dict)

[2020-04-21 18:34] ademariag commented on #491
thanks @th31nitiate , issue #443 solves the crash, but highlights the behaviour here explained. The workaround for this new issue is the same as the one I had for #443, https://github.com/kapicorp/kapitan-reference/blob/bc92712591c23ba46f342ef11564586fa8c58e85/components/generators/ingresses/main.jsonnet#L17

[2020-04-21 20:27] caioaao commented on #358
Can confirm: versions 0.26.0, 0.27.0 and 0.27.2 also exits execution with:
[code]

[2020-04-21 20:58] th31nitiate commented on #491
I see what you mean. The repository looks like a great Kapitan reference.

It would be a difficult one to solve without changing the default behaviour in my opinion, but I haven't really taken time to look over the Kapitan code.

I was wondering if you know how to run kapitan locally while developing without having to compile the binary ?

[2020-04-23 17:29] uberspot commented on #491
The fix for this should be straightforward. Swapping the order of the if block starting here https://github.com/deepmind/kapitan/blob/master/kapitan/inputs/jsonnet.py#L52 with the next one.

The question this issue is trying to answer is whether users expect `prune` to also not-generate empty files in single file mode as it does for multiple file mode or not.

What would users expect behavior-wise

[2020-04-23 23:05] ademariag commented on #491
TBH I looked at it and I don't think you can activate the single mode at all!

for JSON to be valid, the file needs to be:

[code]

or even just:
[code]

which in both cases would be a "dict", which would make it ignore the
`if not isinstance(output_obj, dict)` check.

This means that the only moment that check is evaluated is when, with `prune: true`, `{}` becomes NoneType.

## Test
adding the fo

[2020-04-24 14:49] ademariag opened #493 "Kapitan crash on empty file"
**Describe the bug/feature**
Kapitan crashes while handling a jsonnet file that would produce an empty file
Possibly related to https://github.com/deepmind/kapitan/issues/443 although ti fails on something else.

**To Reproduce**
Steps to reproduce the behavior:
To replicate, just create a jsonnet file with:
[code]

A more complete example is
[code]

The condition happens happens often if the obje

[2020-04-27 14:36] th31nitiate opened #496 "Investigate usage with SELINUX policies"
I don't use slack yet. I am just posting this for discussion or thought at present.

SELINUX is a security mechanism used to authorise system calls and other things on Cent OS systems. It is most useful when used to create profiles for specific applications or containers.

I prefer using Nomad when running containers. In such cases where name spacing or other security enhancements may not be avail

[2020-04-27 16:17] joulaud opened #497 "ability to unindent nested lists in YAML output."
**Describe the bug/feature**
I would like kapitan to output unindented sequences.
At the moment it generates
[code]
and I want
[code]

The current behaviour seems intentionnal (https://github.com/deepmind/kapitan/blob/25f4ebaca159a748e44683a45875e74be73c1570/kapitan/utils.py#L163-L170 ) but I would like to be able to deactivate it.

Some more options of formatting for the YAML dump could also be u

[2020-04-27 16:22] uberspot commented on #496
It wouldn't hurt to add an (small) example selinux policy generation under the `examples/`. Given that it doesn't have that many differences from other json file generation (like terraform) I'm not sure if I'd add other docs regarding this. An example would be nice though. :)

[2020-04-27 17:38] uberspot commented on #497
Since this might require adding yet another config argument, it might be worth thinking about passing kapitan config parameters with something like this methodology https://tech.preferred.jp/en/blog/working-with-configuration-in-python/ to simplify function declarations and only pass a single config around (?). Just an idea.

[2020-04-27 18:01] th31nitiate commented on #496
That is great to hear and I may add that. I think at this point it is still kind of a theory. I am wondering if it would be a good use case.

I would not want to add saturation to the uses for this tool, however considering Android supports SELINUX we can increase the possible use cases.

[2020-04-27 18:37] adrianchifor commented on #497
The way we output sequences is the correct way to do it according to the [latest YAML spec](https://yaml.org/spec/1.2/spec.html#id2759963). We try to keep most outputs in-line with the spec as most consumers (such as kubectl) have certain expectations and don't have to apply transformations.

[2020-04-28 08:25] joulaud commented on #497
@adrianchifor
Previous versions of the spec explicitly authorized what I want.
https://yaml.org/spec/1.1/#id931893

New version of the spec have a (for me) cryptic comment `/* For some fixed auto-detected m > 0 */` which can be interpreted the way you do-

I cannot find the rational for this change between YAML 1.1 and YAML 1.2. All YAML parser I use support both syntax without problem and several

[2020-04-28 12:55] joulaud commented on #497
As a point of data kubectl does not overindent sequences on its output.
My main objective here is to be able to compare kubectl output and kapitan generated files with the less post-processing possible.

Extract from a `kubectl get pods -o yaml mypod` (1.17)
[code]

[2020-04-29 16:03] uberspot opened #499 "Crash in subvar revealing in examples"
**Describe the bug/feature**
Crash when revealing subvars in examples
**To Reproduce**

[code]

**Expected behavior**
No crash

Latest python and kapitan versions

[2020-04-29 21:39] ramaro commented on #499
This is actually not a bug. What's happening here is that the ref file `refs/targets/all-glob/mysql/subvars` is missing the `var2` key.
But the error message needs to be improved.

[2020-04-30 11:26] pvanderlinden opened #500 "Ability to show a secret from a ref file"
It would be great have the ability to show a secret from a ref file.

As a workaround I currently use:

[code]

Example:
`./show-secret.sh refs/targets/production/db/superuser_password`

[2020-04-30 13:08] th31nitiate commented on #499
I noticed a similar thing too. Do you think this would be a good enough method for raising the error message ?

    def _get_value_in_yaml_path(self, d, yaml_path):
        """using the sub-variable path as nested keys, returns the value in the dictionary"""
        keys = yaml_path.split(".")
        value = d
        try:
          for key in keys:
              value = value[key]
          retu

[2020-04-30 13:58] ramaro commented on #499
Hey thanks for that but I already have a fix coming up!

On Thu, 30 Apr 2020, 14:08 M3rl1n th31nitiate, <notifications@github.com>
wrote:

[2020-05-06 17:10] uberspot commented on #499
Fixed in https://github.com/deepmind/kapitan/pull/502

[2020-05-06 17:10] #499 closed

[2020-05-07 08:45] logdnalf commented on #354
I am also interested in this feature.

[2020-05-07 09:13] logdnalf opened #505 "Allow using .yaml file extension instead of .yml"
**Describe the bug/feature**
I need that Kapitan can produce YAML files from Jsonnet which have a `.yaml` file extension instead of `.yml`.

**To Reproduce**
`kapitan compile` produces `.yml` files.

**Expected behavior**
Allow Kapitan to produce YAML files with a `.yaml` file extension, likely controlled by the `output_type` in the inventory. For example, `output_type: yaml` would produce files n

[2020-05-07 10:50] uberspot commented on #505
This seems to be a duplicate of https://github.com/deepmind/kapitan/issues/276 and that is blocked by https://github.com/salt-formulas/reclass/pull/87 getting merged.

[2020-05-07 12:20] pvanderlinden opened #506 "Jsonnet doesn't remember file mode"
**Describe the bug/feature**
When you render a file with the jinja2 input type, it remembers the file mode (e.g. executable). With the jsonnet input type this is not working.

**To Reproduce**
Steps to reproduce the behavior:
- Have a jsonnet input with the following main.jsonnet:
[code]
- make sure `template/apply.sh` exists and has executable flags (chmod +x template/apply.sh)
- the output has n

[2020-05-07 13:53] adrianchifor commented on #505
I think #276 is about reclass and this is more about how kapitan outputs files.

[2020-05-13 08:36] srueg commented on #390
+1 for this request. It would be nice to be able to apply the functions "on-reveal" as suggested.

In the mean time, we use the secrets `stringData` [feature](https://kubernetes.io/docs/concepts/configuration/secret/#creating-a-secret-manually) to work around this:
[code]

[2020-05-13 13:01] srueg opened #511 "Vault 404 errors are silently skipped"
**Describe the bug**
When using the `vaultkv` secrets provider, specifying a reference to a non existing secret in Vault leads to silently ignoring this secret during compile/reveal.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a ref to a non existing Vault secret: `?{vaultkv:t-delicate-pine-3938/c-twilight-water-9032/cloudscale/token:4c0765c1}`
2. Run `kapitan refs --reveal` to re

[2020-05-13 14:02] srueg commented on #511
Seems like the reason was some missing `raise`: https://github.com/deepmind/kapitan/pull/512

[2020-05-13 16:01] madonius opened #513 "Running `init` with the binary does not work"
When I run `kapitan init` with the binary downloaded from the releases, the execution halts with an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/deepmind/kapitan/releases
2. Download latest release `v0.27.3-rc.2`:
3. Execute `kapitan-linux-amd64`
4. Receive an execution error
[code]

**Expected behaviour**
kapitan initialises the directory

** If it's a bug

[2020-05-14 10:22] #511 closed

[2020-05-14 12:39] uberspot commented on #513
Fixed in v0.27.3-rc.3  :) Thanks for reporting.

[2020-05-14 12:39] #513 closed

[2020-05-15 15:58] pvanderlinden commented on #390
Something to think about, currently you have to know if the inventory item is a secret or not (in jinja2 at least):
[code]

[2020-05-17 19:38] uberspot commented on #276
This has now been added in kapitan 0.27.3 after forking and updating our usage of reclass. :)
Closing as done.

[2020-05-17 19:38] #276 closed

[2020-06-04 12:10] th31nitiate commented on #496
I looked this over and I noticed that SELINUX does not support JSON. I initially thought that it did but I was greatly mistaken. I don't believe this would be the best use case at present. I will close this out for now.

@uberspot  great talk the day it was delivered very well & clearly conceptualised kapitan

[2020-06-04 12:10] #496 closed

[2020-06-06 20:22] Cyanopus commented on #505
This seems to be an easy task.

https://github.com/deepmind/kapitan/blob/890094592f9d61844398828958339a29ef764890/kapitan/inputs/jsonnet.py#L77-L79
to liberal
[code]
@uberspot @adrianchifor Good for PR?

[2020-06-06 21:09] adrianchifor commented on #505
@Cyanopus Yeah that should do

[2020-06-09 22:16] ramaro opened #522 "Embedded refs not persisting original encoding metadata"
Embedded refs not persisting original encoding metadata

**To Reproduce**
Create a ref with `--base64` (encoding: base64), compile with --embed-refs and reveal to see encoding will now be `original`

**Expected behavior**
Encoding metadata is persisted

** If it's a bug (please complete the following information):**
 - `python --version`: 3.8.3
 - `kapitan --version`: 0.24.7

[2020-06-11 10:15] #505 closed

[2020-06-11 10:19] uberspot commented on #435
This has been created in https://github.com/kapicorp/tesoro/
Let's keep related issues/bugs there for consistency.  :) Closing this issue for now.

[2020-06-11 10:19] #435 closed

[2020-06-15 19:19] chris-sanders opened #527 "Support overlay / multiple render stages"
**Describe the bug/feature**
The use of an overlay (Kustomize / ytt as examples) is a pattern I'm finding necessary when working with 3rd party manifests such as those generated via Helm. Using a Helm repository as a starting and using the Helm input type renders output directly to the compiled directory, which seems to be the norm for compile steps. What I'd like is to have the ability to compile

[2020-06-17 17:12] sanyam1997 commented on #506
Hey, I would like to work on this issue. I am a first-time contributor. Can you suggest relevant resources to be studied for working on this issue?

[2020-06-17 17:13] sanyam1997 commented on #506
Hey, I would like to work on this issue. I am a first-time contributor. Can you suggest relevant resources to be studied for working on this issue?

[2020-06-17 20:47] jmgilman commented on #358
Can confirm that the latest Pypi package available (0.27.4) is also resulting in the same error when attempting to compile with Helm charts. The Docker version works fine though, would it be worthwhile to open a new issue for the Pypi package specifically?

[2020-06-17 21:03] ramaro commented on #358
Hey thanks for reporting. I think it's fine to just reopen this!

[2020-06-17 22:36] ramaro commented on #506
Hey @sanyam1997 this particular issue requires a bit more thought as jsonnet per se does not allow doing this. An idea to solve this issue is to allow setting a new option in the inventory to set the mode file permissions for a particular pattern of files.
I suggest you have a look at the `inputs/base.py` which already has basic support for this, but needs to be rethought.

[2020-06-17 22:45] sanyam1997 commented on #506
Hey @ramaro, I am new to open source and was looking for some guidance during the initial phase of open source contribution. Can you please email me at rajpalsanyam1997@gmail.com?

[2020-06-18 22:31] farvour commented on #294
I opened up a PR to make a feature for automatically using the environment. It avoids you from having to do strange workarounds and allows the values to be updated in-real-time during reveal/render phase without requiring a recompile like the plainRef does. Since base64 refs use a hash, a change to the value before reveal would violate the hash constraint.

I feel like this solves a happy medium w

[2020-06-23 04:01] jmgilman opened #535 "The copy input type does not support the relative . operator"
**Describe the bug/feature**
The `copy` input type does not support outputting to the root of a target. In the other output types setting the `output_folder` to `.` would compile the file into the root of the target's folder. Attempting to do this with the `copy` input type results in an error.

**To Reproduce**
1. Create a test file to copy
2. Create a compile rule of type `copy` and set the `out

[2020-06-23 04:27] jmgilman opened #536 "The copy input type clobbers a directory"
**Describe the bug/feature**
When the `copy` output type is given a directory to copy, the target directory will have everything inside of it clobbered. This presents an issue in the case where another compile rule is outputting to the directory that gets clobbered by the copy.

**To Reproduce**
Steps to reproduce the behavior:
1. Create two compile rules: one of any other type (jsonnet, jinja2, e

[2020-06-23 13:34] starkers opened #538 "dynamically over-riding jinja2 Environment"
When templating something that already contains golang `{{ }}` in jinja2 the common practice is to liberally spread terrible **raw** and **endraw** blocks everywhere..

a classic example now is prometheus alertmanager rules...

EG:

[code]

This is extremely painful... especially if u want to pull in the latest upstream ones... for example the current [kube-prom](https://github.com/coreos/kube-pro

[2020-06-23 17:13] pvanderlinden commented on #538
I think it would be good to also be able to set these options globally.

[2020-06-24 13:18] #536 closed

[2020-06-24 13:18] #535 closed

[2020-06-25 02:49] #483 closed

[2020-06-26 14:06] srueg opened #543 "Enable Setting `KubeVersion` for Helm Template"
**Describe the bug/feature**
When rendering a Helm chart, the used kube version is fixed to `v1.9`. This leads to issues if this version is used in Helm charts (as it is in [cert-manager](https://github.com/jetstack/cert-manager/blob/f0231cc5d5a7f74fa0d77395546cef2cd0b80efd/deploy/charts/cert-manager/templates/webhook-mutating-webhook.yaml#L29) for example).

**To Reproduce**
Steps to reproduce th

[2020-07-03 09:04] #500 closed

[2020-07-03 18:35] gobbledygook88 opened #552 "kapitan:ci Docker image issue"
**Describe the bug/feature**
The latest `deepmind/kapitan:ci` Docker image (as of writing) appears to be broken.
`sha256:acaa1ca6541e90c4b26cec218b4e5ccbfb954a9d6337587d802f39ee2a0efa06`
Running `--version`, or any other command, gives the following stacktrace

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `docker pull deepmind/kapitan:ci`
2. `docker run -it --rm deepmind/kapitan:ci

[2020-07-03 19:34] ramaro commented on #552
Hey, thanks for reporting. We'll have a look.

[2020-07-03 20:07] uberspot commented on #552
Sorry about that, I was testing the new github action for building the docker images ( https://github.com/deepmind/kapitan/pull/551 ) , and had to test with the "ci" tag as well.
But you caught a very early bug (I forgot to checkout git submodules in the CI job) and I just fixed the image now. :)
Thanks for reporting. :+1:

[2020-07-03 20:07] #552 closed

[2020-07-10 17:00] ramaro opened #558 "Logging silent on macOS with Python 3.8+"
When running kapitan with python 3.8+ on macOS, there's no logging .e.g no "compiled my-target (0.1s)" message, nor debug logs when running `$ kapitan compile -v`

[2020-07-13 16:31] th31nitiate opened #561 "Are tests a requirement"
This is probably something for the slack channel but I currently do not have access to that. I would like to know if tests are a strict requirement for contributing code to Kapitan. I see that the 'gkms' back end does not currently contain any test. This triggered my curiosity as to try understand why that is the case and if it would be a requirement for creating back ends ?

[2020-07-14 09:49] uberspot commented on #561
Hi @th31nitiate, :)

It depends. In general we would highly appreciate tests for most contributions for mainly two reasons:
1) Validating that the contribution actually works before merging
2) Preventing regressions in the future if things/dependencies change

In the past the test code coverage was <40%. Through some focused efforts we improved that to 65%+ so the idea was that for any new code we

[2020-07-14 11:32] th31nitiate commented on #561
Thank you, that answered my question and concerns.

[2020-07-14 11:32] #561 closed

[2020-07-16 20:53] #558 closed

[2020-07-21 14:51] ramaro opened #570 "Rename remote inventory key to `inventory` instead of `inventories`"
The inventory in https://github.com/deepmind/kapitan/blob/master/kapitan/remoteinventory/fetch.py#L34 is set to `inventories` key, however [KAP-7](https://github.com/deepmind/kapitan/blob/master/docs/kap_proposals/kap_7_remote_inventory.md) documents `inventory`.

Let's keep it consistent and rename to `inventory`.

[2020-07-21 14:54] ramaro commented on #570
cc @AlphaRoy14

[2020-07-21 15:27] AlphaRoy14 commented on #570
Hi @ramaro I was wondering if it would make more sense if we change the doc instead to `inventories` as we use `dependencies` key to specify dependencies and it also indicates that we can specify multiple items?
https://github.com/deepmind/kapitan/blob/master/docs/kap_proposals/kap_1_external_dependencies.md#specification

[2020-07-21 15:36] ramaro commented on #570
Fair point. But `dependencies` is a new term in Kapitan, however `inventories` is not as we already have `inventory` in flags, etc... So it makes sense to keep it that way.

[2020-07-21 15:47] #570 closed

[2020-07-21 21:42] skinny opened #572 "Bug: Using remote inventory files (still) requires a separate fetch command due to reclass failing on missing classes."
**this is just a quick write up and I'll try to expand on this tomorrow.**

Using the latest 0.29-rc version :

I would really like to see that running a `compile --fetch` once would download the remote files and be able to use them afterwards in the same run as an inventory class.

Downloading the inventory file works fine but referencing the just downloaded file in other places like :

[code]
br

[2020-07-22 09:16] uberspot commented on #572
This is definitely interesting, but might be better suited in a separate issue. :)

The rest does seem like a valid bug where fetched inventories aren't loaded yet into kapitan (?). cc @AlphaRoy14

@skinny could you also add a snippet with your kapitan config for the remote inventories if they're public urls? To help debug.

[2020-07-22 10:57] AlphaRoy14 commented on #572
If the configuration is something like:
[code]
Then kapitan would throw an error since we are using reclass in the load_target_inventory() function. All the classes must be present for reclass to work without any error.
https://github.com/deepmind/kapitan/blob/bbe0979391a23a311c506209ca8d899d8864c18b/kapitan/targets.py#L100
https://github.com/deepmind/kapitan/blob/bbe0979391a23a311c506209ca8d899d8

[2020-07-22 11:15] uberspot commented on #572
You are actually very close to the proper solution, but instead of a new function like inventory_reclass you just need to make [one flag](https://github.com/salt-formulas/reclass/blob/develop/README-extensions.rst#ignore-class-not-found) in it configurable. :)

---------------------------------

So yes, this bug is due to how in targets.py (L 100) we do the following:

[code]

Either the first, or

[2020-07-22 11:25] AlphaRoy14 commented on #572
Great! thanks for the explanation 👍

[2020-08-06 14:23] sebradloff opened #583 "Compile all targets with fetch option will copy over http dependencies that get cached to compiled directory"
**Describe the bug/feature**
As a part of my CI pipeline, I run `kapitan compile --fetch` to ensure that all upstream dependencies download and that they haven't changed. Right now, using the `http` external dependency manager, it will fetch the dependency and cache it in the tmp directory (working directory) created by kapitan during compile. [One of the last steps of a kapitan compile command](h

[2020-08-06 15:23] AlphaRoy14 commented on #583
Hi @sebradloff, thanks for raising the issue. As you rightly mentioned a dedicated directory in the `temp_path`(e.g. `/tmp/tmp7o05l9vi.kapitan/compiled`) for storing the compiled items and then copying it into into `./compiled` directory should solve the issue. I'll make the changes :)

[2020-08-11 06:02] #583 closed

[2020-08-29 13:37] vlcinsky opened #594 "Reformat jinja2 filters in doc"
Currently, jinja2 filters are presented as codeblock. This makes it not readable.

Consider reformatting it into list of items, one per filter.

[2020-08-29 16:35] #594 closed

[2020-08-29 16:36] uberspot commented on #572
I believe this is now fixed in the latest rc and I'll do a full release now too.
Feel free to reopen this bug if this occurs again.

[2020-08-29 16:36] #572 closed

[2020-08-30 17:01] vlcinsky opened #597 "doc: reformat secret functions"
In doc, functions to render or process secrets are listed using block code. This makes it not well readable.

Reformat it into ordinary list of functions

[2020-09-01 14:52] drzero42 opened #604 "refs --reveal --ref-file fails (at least with GKMS)"
**Describe the bug/feature**
The new feature in 0.29.0 which adds `--ref-file` to the `kapitan refs` command does not seem to work correctly.
If I use `kapitan refs --reveal --file compiled/targetname/file.yaml` it works correctly.
The same goes for `kapitan refs --reveal --tag "?{gkms:targets/targetname/mysecret}".
However, when I then try `kapitan refs --reveal --ref-file refs/targets/targetname

[2020-09-01 16:51] ramaro commented on #604
Thanks for reporting! Will be picking this one up...

[2020-09-01 17:15] AlphaRoy14 commented on #604
Hi @ramaro, I think this is happening because of `encrypt=True` here https://github.com/deepmind/kapitan/blob/c2f13f27b0172c081f4c7561d53e737cb0047699/kapitan/refs/base.py#L522 I have updated this by setting `encrypt=False`in my Azure KMS backend PR, if you like I can make a separate PR for this bug?

[2020-09-01 17:21] ramaro commented on #604
@AlphaRoy14 Yes good point, that is most likely it! The comment mentions that but the code is setting it wrong :) This also means we need to add some tests for encrypted refs on this feature (likely using GPG).

[2020-09-01 17:28] AlphaRoy14 commented on #604
I'll add a test case for it :)

[2020-09-01 17:31] ramaro commented on #604
Thanks, something like https://github.com/deepmind/kapitan/blob/master/tests/test_cli.py#L396 but for GPG should do!

[2020-09-01 19:48] #597 closed

[2020-09-01 19:54] uberspot commented on #604
Thanks for reporting and thanks @AlphaRoy14 for the fix.
This will be included in the 0.29.1 release started here: https://github.com/deepmind/kapitan/pull/606
Closing issue for now. :+1:

[2020-09-01 19:54] #604 closed

[2020-09-25 08:55] eug-maly opened #609 "Targets ordering or/and dependencies"
**Describe the bug/feature**
We have a target where we generate grafana dashboards (for example). We tried to use these templates as an input in other targets to create kubernetes configmaps. But didn't find a way to force this target to be the first one (added "00-" prefix to the name, etc). It would be nice control the target generation orders or to add target generation dependencies.

**To Repr

[2020-09-25 09:53] AlphaRoy14 commented on #609
Maybe you can try to compile the target with grafana configurations first using `$ kapitan compile -t <grafana-target-name>` and then use `$ kapitan compile` to compile all the targets. Alternatively, you can try labeling your targets under `parameters.kapitan.labels` e.g.
[code]
[code]
And then use `$ kapitan compile -l type=grafana` followed by `$ kapitan compile -l type=kubernetes`

[2020-09-25 12:55] ramaro commented on #609
@eug-maly curious to know why you have a dependency on the order of compilation? You can always iterate through compiled target names and match/order externally. Alternatively, you should consider @AlphaRoy14 suggestion if you're ok with multi stage compilation.

[2020-09-27 21:07] joseffilzmaier opened #611 "Large performance regression comparing to using jsonnet from command line"
**Describe the bug/feature**
I use [kube-prometheus](https://github.com/prometheus-operator/kube-prometheus) as part of my kapitan project.
When using `time jsonnet -J ../../lib/kube-prometheus -m manifests monitoring.jsonnet` to compile the project with plain `jsonnet` i do get a compile time of around **6 Seconds**. If i, however use `kapitan compile` the compilation takes about **85 Seconds**.

[2020-09-28 08:57] sbarzowski commented on #611
(Jsonnet dev here)

@joseffilzmaier Are you perhaps using https://github.com/google/go-jsonnet when calling Jsonnet from cmdline? IIUC Kapitan still uses cpp implementation under the hood, which is known to be way slower.

[2020-09-28 09:02] joseffilzmaier commented on #611
@sbarzowski Hi, Thanks! - Yes, i'm using the golang version of jsonnet.

Is there any way to use the golang version of jsonnet within kapitan (or is it planned to be integrated)?
The long compile time is quite annoying ...

[2020-09-28 20:13] ramaro commented on #611
@joseffilzmaier thanks for reporting. Can you share a bit more details please: is this a regression - did you have better performance is a previous version of kapitan and what version? How many targets are you compiling and are you just compiling this one kube-prometheus component?
Golang jsonnet requires a few non obvious changes to kapitan but is still work in progress...

[2020-09-28 20:17] joseffilzmaier commented on #611
@ramaro Hi!
I do not know if this is a regression - version `0.29.1` is the only one i tried.
I am compiling 10 targets, but all of them compile in <1 sec except the kube-prometheus which takes ~85 secs.
Also, if i just compile `kube-prometheus` with the `--targets` selector, the performance is the same

[2020-09-28 20:24] ramaro commented on #611
@joseffilzmaier thanks! Yep, sounds like a cpp jsonnet issue, unfortunately. I'll let you know when a functional golang jsonnet version of kapitan is availabe in pre-release or even in a branch so you can try it out, if that helps?

[2020-09-28 20:28] joseffilzmaier commented on #611
@ramaro Yeah, thanks, that would be nice!
The functionality isn't lacking - however the long compile time is somewhat annoying.
I'd subscribe as a tester if the go-jsonnet branch emerges :+1:

[2020-09-29 16:25] eug-maly commented on #609
@ramaro here is an example:
1) generate grafana dashboards using jsonnet
2) use dashboards from p.1 to generate kubernetes configmaps
3) apply changes to kubernetes clusters

[2020-10-01 13:40] sebradloff commented on #609
@eug-maly If you want, the grafana dashboards and k8s configmaps could each be there own class. The compile stage of a target has a few phases listed here in the docs: https://github.com/deepmind/kapitan/blob/master/docs/compile.md#phases-of-the-compile-command

What you could do is ensure that the grafana class is run first through ordering it before the k8s configmap class in your target definit

[2020-10-05 16:38] jamesglennan opened #621 "--inventory-path throwing an error on v0.29.x"
**Describe the bug/feature**
An error is thrown when trying to compile templates that are not in the current directory

**To Reproduce**
Steps to reproduce the behavior:
1. Be in the parent directory
2. Attempt to compile the templates using `kapitan compile --inventory-path ./deployments/inventory --search-paths ./deployments --output-path deployments`
3. Get an Error
[code]

**Expected behavior*

[2020-10-05 17:05] ramaro commented on #621
@jamesglennan thanks for reporting! Looks like we need a test for this :) Will be looking at it soon...

[2020-10-06 08:02] uberspot commented on #621
Just for completeness, could you also try your kapitan compile command with --inventory-path `./deployments/` ?
And do --verbose if possible in either run?

[2020-10-06 08:43] jamesglennan commented on #621
[code]

[2020-10-06 08:43] jamesglennan commented on #621
[code]

[2020-10-06 08:44] jamesglennan commented on #621
Cheers for getting on this team :)

[2020-10-06 10:42] AlphaRoy14 commented on #621
### With `--inventory-path` specified
I think the issue is that `inventory_reclass()` gets called first with using `kapitan compile --inventory-path ./deployments/inventory --search-paths ./deployments --output-path deployments`

https://github.com/deepmind/kapitan/blob/1b8b6b203e20cdfd58cc1a4a29fbd5f705f83775/kapitan/resources.py#L294

with the `inventory_path=./deployments/inventory`

Later, the

[2020-10-07 07:45] uberspot commented on #621
That could work. Alternatively a simple solution is also checking in that inventory() function whether the inventory_path =="inventory/" since that's the default. If not, `full_inv_path = /path` else `full_inv_path = os.path.join(search_path, "./inventory")`. It's selfcontained and you don't have to worry about cache state (?).

[2020-10-07 08:18] AlphaRoy14 commented on #621
One potential issue could be in  case If `--inventory-path` is not specified. Then, I think the inventory path i.e `full_inv_path = os.path.join(search_path, "./inventory")` should be set at an earlier stage since `inventory_reclass()` is called before `inventory()`. Else `inventory_reclass()` will try to search for inventory in `./inventory` instead of `search_path/inventory` (?) In fact, the `fu

[2020-10-07 10:04] uberspot commented on #621
I had a quick browse and all paths that lead to inventory_reclass() do get the correct path from args directly (?) so this might not be a problem.
I have a suspicion that the inventory( ) function's handling of the inventory path is an exception for jinja2 specifically (?).
@ramaro might have a better idea.

[2020-10-08 05:07] haggishunk opened #622 "VAULT_SKIP_VERIFY breaks with yaml boolean defined in parameters"
**Describe the bug/feature**
Setting `VAULT_SKIP_VERIFY` in `parameters.kapitan.secrets.vaultkv` results in an exception when using yaml boolean `false` or `true`.  Setting to a string value throws no exception and functions as expected.

The vaultkv secrets backend supports several settings, some of which can be set via environment variable or in kapitan parameters and others which can only be se

[2020-10-08 07:21] joulaud commented on #611
cf.https://github.com/deepmind/kapitan/issues/144 also.

[2020-10-08 17:19] ramaro commented on #622
@haggishunk thanks for spotting and for the fix 👍

[2020-10-08 18:22] ramaro commented on #621
Hey @jamesglennan are you compiling the jsonnet version of cert-manager?

[2020-10-08 19:25] haggishunk commented on #622
@ramaro you betcha, happy to help out.  thanks for taking to time to check it out so quickly

[2020-10-08 21:39] #622 closed

[2020-10-08 22:52] ramaro commented on #621
I think the issue is that `"inventory/"` is hardcoded in the kapitan.libjsonnet native function call at https://github.com/deepmind/kapitan/blob/master/kapitan/lib/kapitan.libjsonnet#L9
So setting the `--inventory-path` flag won't update the optional parameter in the `inventory()` native call. This wasn't very clever of us (me!) to write it this way. So I'm updating the default value to `null` whi

[2020-10-09 07:55] jamesglennan commented on #621
No, we're using Jinja2, cert-manager is an example, but anything we try to compile seems to fail when specifying inventory

[2020-10-09 08:16] jamesglennan commented on #621
@ramaro Quick test and your fix seems to do the trick, thanks for getting on this so quick

[2020-10-09 09:32] ramaro commented on #621
@jamesglennan thanks for testing! PR on the way.

[2020-10-09 10:38] jamesglennan commented on #621
@ramaro Out of curiosity, what's the release schedule on Kapitan? Once a month? or thereabouts?

[2020-10-09 10:48] uberspot commented on #621
No official release schedule, mostly going based on needs.
I can start 0.29.3 for you now. :)

[2020-10-10 09:40] jamesglennan commented on #621
[code]

[2020-10-10 09:44] jamesglennan commented on #621
Should we re-open this? When i tested, i ran it with `python3 . ...args` using full path
I just tested the installed version with full path and same error?

[2020-10-10 09:51] ramaro commented on #621
Interesting... Yes let's reopen this. Thanks for your findings!

[2020-10-12 09:24] jperville opened #629 "Kapitan 0.29.x downloads helm chart dependency in the wrong directory, resulting in broken build"
**Describe the bug/feature**

Kapitan 0.29.x downloads helm chart dependency in the wrong directory (outside of KAPITAN_ROOT in my case).
The consequence is that the build fails because the Kapitan vendor directory does not contain my downloaded helm chart.

**To Reproduce**

I run a custom docker image of Kapitan with my code added (can provide access if needed but probably not needed)
I inject t

[2020-10-12 09:26] jperville commented on #629
I believe that this issue is related to #621 even if my context is slightly different (trying to produce an artefact outside of KAPITAN_ROOT while pwd'ed to KAPITAN_ROOT for me vs trying to build outside of KAPITAN_ROOT for @jamesglennan ).

[2020-10-12 17:54] ramaro commented on #629
@jperville thanks for reporting! Definitely related to #621

[2020-10-16 16:24] myspotontheweb opened #630 ""master" is no longer the default git branch in Github"
**Describe the bug/feature**

New repositories in github no longer have a default "master" branch. It has been renamed to "main".

**To Reproduce**
Steps to reproduce the behavior:

1. Configure a remote inventory

Use a newly created repository.

[code]

2. Run a compile

[code]

3. Note the "master" branch is not found

[code]

This is hard coded in the python code [here](https://github.com/deep

[2020-10-16 16:32] myspotontheweb commented on #630
**Work-around**

I reverted my repository's default branch from "main" back to "master".

[2020-10-16 17:09] AlphaRoy14 commented on #630
Hi @myspotontheweb, Thanks for reporting this! Until this is fixed, maybe you can specify `ref: main` in the target files to save yourself the trouble of manually changing the default branch.
e.g
[code]

[2020-10-21 09:17] xunleii commented on #144
@ramaro We are trying to integrate gojsonnet with Kapitan, as we need it to improve our compile time (our usage of Kapitan is growing every weeks). Our work is available [here](https://github.com/radiofrance/kapitan/tree/use-gojsonnet).
After trying GoJsonnet bindings in python, I found no issues with it. But, when used with Kapitan, it seems to have some sort of "lock" (can be easily tested using

[2020-10-21 09:25] ramaro commented on #144
Hey @xunleii great to hear you're using Kapitan!

That pretty much sums my findings and I started working improving multiprocessing but ran into exactly the same issues, but unfortunately haven't finalised it yet.
I will have a look at your work. Thanks

[2020-10-21 10:30] sbarzowski commented on #144
Could it have something to do with this: https://github.com/google/jsonnet/pull/814?

(It's not yet ported to go-jsonnet.)

[2020-10-25 11:21] ramaro commented on #629
@jperville to confirm, are you setting the inventory's `dependencies.type` to `helm` or or `http(s)/git`?

[2020-10-27 11:21] metacoma opened #634 "bad argument type for built-in operation"
**Describe the bug/feature**
The map definition in `kapitan.vars` leads to error  with an incomprehensible description

**To Reproduce**
Steps to reproduce the behavior:
1. git clone --depth 1 -b pr-for-demonstrate-map-error https://github.com/metacoma/kapitan.git
2. cd kapitan/examples/kubernetes/
3. kapitan compile -t labels

**Expected behavior**
Target "lables" compiled successfully

**Screens

[2020-10-27 11:22] metacoma commented on #634
#633

[2020-10-29 19:54] retr0h opened #641 "Compile error: failed to compile target: busybox"
**Describe the bug/feature**

Error working through examples

**To Reproduce**
Steps to reproduce the behavior:
1. Git clone repo
2. cd examples/kubernetes
3. kapitan compile

**Expected behavior**

Examples used in [docs](https://kapitan.dev/#quickstart) should work

**Screenshots**

[code]

** If it's a bug (please complete the following information):**
 - `python --version`:
Python 3.8.5
 - `pi

[2020-10-29 19:59] retr0h commented on #641
Oddly works just fine if I use the docker container.

[code]

[2020-11-03 16:46] ramaro commented on #641
Thanks for reporting @retr0h
How did you install kapitan? Using pip or straight from master?

[2020-11-03 16:50] ramaro commented on #634
@metacoma thanks reporting! Is this kapitan installed from master or pip?

[2020-11-03 17:12] metacoma commented on #634
Hey @ramaro ! From pip

[2020-11-03 17:49] retr0h commented on #641
Pip

[2020-11-04 12:44] ademariag opened #646 "Support for Ansible inventories"
**Describe the feature**

It would be great if Kapitan was able to leverage inventories created for ansible.
Ansible at the moment has a lot of inventories already available (see https://docs.ansible.com/ansible/2.6/plugins/inventory.html for an example list of available plugins)

Leveraging from these inventory should be relatively easy, and once they are rendered, the ansible inventory would be

[2020-11-05 16:38] srueg opened #647 "Support for Helm 3"
**Describe the bug/feature**
Are there any plans for supporting Helm 3 for rendering charts?

I could imagine to support both versions by introducing a new input type `helm3` for example. Fully switching to Helm 3 might have some compatibility issues as well. For example charts which use the deprecated `crd-install` hook won't render correctly with Helm 3.

**Additional context**
Some Helm charts

[2020-11-06 09:18] srueg commented on #647
Thinking of it again I guess it should be ok to just replace Helm 2 with 3.
Since Helm 2 is being deprecated anyway: https://helm.sh/blog/helm-v2-deprecation-timeline/. And most charts work well with Helm 3.

I started a WIP PR for the upgrade: #648. There's quite a lot of changes in the library and how the template rendering works...

[2020-11-06 11:02] jperville commented on #629
@ramaro sorry for delay but I think that I am using https.

Here is the inventory class that I use to compile cert-manager files:

[code]

[2020-12-03 10:34] ramaro commented on #621
Hey @jamesglennan if you can give this fix https://github.com/deepmind/kapitan/pull/661 a shot, please let me know how it works for you 👍  It's now merged in master

[2020-12-03 12:06] jamesglennan commented on #621
@ramaro Running it from the cli with python command works perfectly (same as last time) but im getting an error when i try and run the container version, or build the binary
[code]
I'm guessing this is more related to release/install problems?

[2020-12-03 12:14] ramaro commented on #621
Hey thanks for checking. That looks to be a release problem indeed. cc @uberspot

[2020-12-04 08:54] uberspot commented on #621
Hmm, yeah that seems like it didn't git pull the reclass submodule when building on docker.
I'll start another release with this fix and see if this happens on Travis as well.

[2020-12-10 20:55] ademariag opened #666 "Kadet crashes if output_obj has no items"
**Describe the bug/feature**
With following code:

[code]
kadet/kapitan crash **if there are no components to process** with the following error

[code]

**To Reproduce**
Run code above from https://github.com/kapicorp/kapitan-reference/tree/kadet

**Expected behavior**
Kadet should not crash and simply not produce files

[2020-12-11 16:10] joulaud commented on #144
GIL handling was ported to go-jsonnet in last release
cf. https://github.com/google/go-jsonnet/pull/474
and https://github.com/google/jsonnet/releases/tag/v0.17.0

[2020-12-11 19:24] sbarzowski commented on #144
Yes. Unfortunately, it seems we still have some elusive deadlock issues: https://github.com/google/go-jsonnet/issues/484. I wasn't able to dig deeply enough into it yet.

If anyone can share an idea about what that might be about, it will be really appreciated!

[2020-12-13 19:23] ademariag opened #668 "kadet: Multiple calls to inventory() fetch incorrect inventory"
**Describe the bug/feature**
Multiple calls to inventory() fetch the incorrect inventory

[code]

will fetch an incorrect inventory (as in, for a different target) every time it is called.

**To Reproduce**
execute the code above

**Expected behavior**
correct inventory fetched each time.

[2020-12-13 19:55] #666 closed

[2020-12-13 21:03] joulaud commented on #144
When I took a stack-trace on the deadlock produced by @xunleii test-case above I find the exact same stack than in [go-jsonnet ticket](https://github.com/google/go-jsonnet/issues/484) including Go `runtime.gcStart`, which obviously must wait for some other goroutine but there is only one thread in the affected process.

After digging a little I was arriving to the same conclusion as @githubaccount

[2020-12-14 08:06] xunleii commented on #144
Unfortunately, I need to investigate another time to found them.

[2020-12-17 09:07] joulaud commented on #144
I tried to advance on this once again.
By using the "spawn" method of multiprocessing I stumble on problems with callbacks I did not investigate further.

I just bypassed the whole multiprocessing thing in order to test with
[code]
and it mostly works with a lot of performance improvements.

On my test case target compilation itself is around 10 to 25 times faster with go-jsonnet than with cpp-jso

[2020-12-24 20:49] Roman-Clumio commented on #641
I'm getting the same error straight from master.
Here's how to reproduce:
[code]

[2020-12-24 20:51] roman8422 commented on #641
I'm getting the same error straight from master.
Here are steps to reproduce:
[code]

[2020-12-24 21:28] roman8422 commented on #641
compile works in version 0.29.2 and is broken in 0.29.3 and 0.29.4

[2021-01-08 23:53] ramaro commented on #144
Hey @joulaud happy new year!

I have very similar observations - disabling multiprocessing for compilation is actually faster and having it enabled hangs compilation when using `go-jsonnet`. I have yet to assess this better, but it feels to me that a future without multiprocessing (at least for compilation) will be much simpler to develop with.

I have committed my latest changes for go-jsonnet su